[2019-09-30 00:36] anthrolisp opened #1 "Python error in install"
Hi, This looks really interesting. I keep getting the following error while attempting to install the development version.

`
 ERROR: Command errored out with exit status 1:
     command: /usr/bin/python -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-sjgw80/topic-db/setup.py'"'"'; __file__='"'"'/tmp/pip-install-sjgw80/topic-db/setup.py'"'"';f=getattr(tokenize, '"'"'open'

[2019-09-30 05:43] brettkromkamp commented on #1
That looks to me like you are trying to install Contextualise with Python 2: the ‘open’ function in Python 2 does not include the ‘encoding’ parameter. The minimum Python version to install Contextualise is 3.6. Please try with Python 3.6+ and let me know if you have problems. Don’t forget that you have to separately set up the database for the application.

[2019-09-30 06:26] brettkromkamp commented on #1
Brief instructions on how to set up the TopicDB/Contextualise database are provided, here: [Setting up the TopicDB database](https://gist.github.com/brettkromkamp/87aaa99b056578ff1dc23a43a49aca89). You need to ensure that the database username, password and database name match with the settings.ini file in the project's root folder.

[2019-09-30 15:54] machawk1 commented on #1
I have both Python 2 and 3 installed. @anthrolisp might want to try running the `pip` command with `pip3` instead if Python 3 is in fact installed.

[2019-09-30 15:56] machawk1 opened #2 "Any plans to Dockerize contextualise?"
This might help with users' system dependencies and get them up-and-running quicker.

/cc @ibnesayeed

[2019-09-30 16:09] machawk1 opened #3 "Issues installing because of missing pg_config"
I am trying to install contextualise on macOS 10.14.6 and Python 3.7.

[code]

Running `pip3 install psycopg2-binary` and trying the above command again does not seem to resolve the issue.

[2019-09-30 16:16] brettkromkamp commented on #2
I would love to have Contextualise dockerized. I just don't have the know-how.

[2019-09-30 16:23] brettkromkamp commented on #3
Okay, I need to take a closer look at this. Not too long ago I remember switching from psycopg2-binary to psycopg2. Personally, I didn't encounter any problems related to the switch but that might be due to the state of my development environment. I'll try setting up Contextualise from scratch in a clean environment... see if I can replicate the issue.

[2019-09-30 16:27] ibnesayeed commented on #2
I quickly looked at it and could not find the documentation about how to run it after cloning and installing dependencies. I can perhaps dig deeper and figure that out, but if it was documented in the README, it would have been very helpful. Once we know what is needed to run it and how the state/data is persisted, then Dockerizing it would not be difficult, you can expect contributions for that.

[2019-09-30 16:28] machawk1 commented on #3
@brettkromkamp That was my intention with using virtualenv, to ensure the state of the install was fresh. Can you `pip freeze` on a machine where you have it working so I can see some version info for `psycopg` that you know works with contextualise?

[2019-09-30 16:30] brettkromkamp commented on #2
@ibnesayeed I will document, of course :)

[2019-09-30 16:41] brettkromkamp commented on #3
[contextualise-requirements.txt](https://github.com/brettkromkamp/contextualise/files/3672291/contextualise-requirements.txt)

There is some superfluous stuff in there.

[2019-09-30 16:57] machawk1 commented on #3
Thanks for the info, @brettkromkamp. `pip3 install psycopg2-binary` installs version 2.8.3 but the contextualise install procedure looks to build and install psycopg2 from source, which has some [further dependencies](http://initd.org/psycopg/docs/install.html#install-from-source).

Dockerizing contextualise (#2) would help with this, particularly if postgresql is also needed. I did not see psycop

[2019-09-30 17:14] brettkromkamp commented on #3
@machawk1 Contextualise can probably revert to using the psycopg2-binary package instead of psycopg2. I really just switched because at the time, if I remember correctly, it was advised to use the package built from sources if in production.

I don't specify psycopg2 in `requirements.txt` or `setup.py` because [TopicDB](https://github.com/brettkromkamp/topic-db) (the topics map engine on top of wh

[2019-10-01 06:58] nomatica opened #4 "Windows"
Would love to see this on windows as a standalone app, but it looks like you might be going another direction.

[2019-10-01 17:10] brettkromkamp commented on #4
@nomatica Yes, Contextualise is implemented as a web application. At some point (in the not too distant future) I will make it publicly available (at https://contextualise.io). Would you consider using it?

[2019-10-01 17:28] brettkromkamp commented on #3
@machawk1 So, back to the psycopg2 vs. psycopg2-binary issue... the [psycopg2 documentation](http://initd.org/psycopg/docs/install.html#binary-install-from-pypi) explicitly states that "if you are the maintainer of a publish package depending on psycopg2 you shouldn’t use ‘psycopg2-binary’ as a module dependency". So, if I am interpreting that correctly, TopicDB should not be using psycopg2-binary

[2019-10-01 17:32] machawk1 commented on #3
@brettkromkamp Your interpretation seems correct -- psycopg2 wants you to build from source it seems, which currently breaks contextualise w/o further dependency specification.

[2019-10-01 17:38] brettkromkamp commented on #3
@machawk1 Yes, that is what it looks like. Building psycopg2 from source requires the following build prerequisites: http://initd.org/psycopg/docs/install.html#build-prerequisites

[2019-10-01 17:47] machawk1 commented on #3
@brettkromkamp That seems like a lot of overhead for a dependency. Despite this, contextualise may want to either describe how to accomplish it or provide some automated hooks in the build process.

When projects state, "Go to this other web page to install this dependency that you have to build from source", it might tend to scare potential users away. Automating this down to the contextualise in

[2019-10-01 17:51] brettkromkamp commented on #3
@machawk1 Yes, I agree. And, dockerizing (#2)  Contextualise becomes very attractive.

[2019-10-01 18:11] nomatica commented on #4
While not proficient in this sort of thing, I understand enough to know how developing this as a web application makes a lot of sense. While I would be supportive and experiment with it, I really am looking for something that runs locally on my PC. It is a matter of privacy, and the cost of having many terabytes of data online.

As I mentioned I am not proficient in these sort of things, but have

[2019-10-01 18:13] brettkromkamp commented on #1
@anthrolisp Before installing Contextualise, you have to have certain build prerequisites in place including a C-compiler, the Python header files, the `libpq` header files and the `pg_config` program as outlined here: [Build prerequisites](http://initd.org/psycopg/docs/install.html#build-prerequisites). This is not ideal and I am currently considering how to dockerize Contextualise (#2) to get us

[2019-10-01 19:02] brettkromkamp commented on #4
@nomatica Thanks for your feedback and enthusiasm (for the project). It's genuinely appreciated and helps with motivation :)

[2019-10-01 20:29] nomatica commented on #4
It is a good project.  Will follow along.

[2019-10-01 21:23] brettkromkamp commented on #2
@ibnesayeed For what it is worth, I have provided some more info with regards to installing the application (and its dependencies) in the [documentation](https://github.com/brettkromkamp/contextualise#install-the-development-version).

[2019-10-01 23:30] ibnesayeed commented on #2
I think, the documentation is still missing necessary details on running it. I get that one needs to install it using pip (utilizing setup.py) then there is an external DB that needs to be installed and setup, but then what? Is there a command that one needs to run to boot the application up? How does this instance of the application connects to the externally set up data base? Some of these quest

[2019-10-02 05:10] brettkromkamp commented on #2
@ibnesayeed Okay, valid points. I will provide the necessary details. Thanks for pointing this out.

[2019-10-02 10:30] vladimirkosolapov commented on #4
This is a great project and it would be great to see it in a standalone application for offline use.

[2019-10-02 16:51] brettkromkamp commented on #4
@vladimirkosolapov I'll keep in the back of my head. The current implementation of Contextualise is definitely web. Nonetheless, if there was sufficient demand for a desktop version I would at least consider it.

[2019-10-04 18:23] machawk1 commented on #4
@brettkromkamp [pyinstaller](https://www.pyinstaller.org/) is an option to "freeze" Contextualize into a native desktop app. I've used it to release Python based .app/.exes for some [software I've developed in the past](https://github.com/machawk1/wail).

With that said, I am also still working on getting it working on my desktop machine (been short on cycles) but the dependency chain makes this m

[2019-10-05 04:42] brettkromkamp commented on #4
@machawk1 Yes, implementing Contextualise as a desktop application would be a huge undertaking and not something I would do lightly. If I did, I could use TopicDB almost as-is, just need to swap out PostgreSQL with something like SQLite. For the actual GUI toolkit I would use something like wxPython or PyQT (both of which I have experience with). But, again... I would only consider going down this

[2019-10-05 04:49] #2 closed

[2019-10-05 05:31] brettkromkamp opened #6 "Replace Flask-Security with Flask-Security-Too"
The [Flask-Security](https://github.com/mattupstate/flask-security) library is not being maintained anymore. [Flask-Security-Too](https://github.com/jwag956/flask-security/) is based on the original Flask-Security library, is being actively maintained and, in theory, can be used as a drop-in replacement of the original library.

[2019-10-05 05:38] brettkromkamp opened #7 "Handle non-existent topic"
Currently, if a user navigates to a non-existent topic a 404 (Not found) page is displayed. Ideally, the user should be presented with the topic creation form with the relevant topic identifier already filled-out.

[2019-10-05 05:41] brettkromkamp opened #8 "HTML5 semantic tags"
Use [semantic tags](https://developer.mozilla.org/en-US/docs/Glossary/Semantics#Semantic_elements) where appropriate in the application's HTML markup.

[2019-10-05 05:44] brettkromkamp opened #9 "Report inappropriate content functionality"
The user can decide to make their topic maps public (accessible without having to log in to the application). The presence of public maps also implies that, at some point, somebody might publish content that is not appropriate. There needs to be a mechanism in place to report and subsequently remove inappropriate content (by the application administrator).

[2019-10-05 08:18] brettkromkamp opened #10 "Add caching support"
Add caching support to Contextualise using the [Flask-Caching](https://flask-caching.readthedocs.io/en/latest/) library.

[2019-10-05 08:20] brettkromkamp opened #11 "Add timeline support"
Add timeline support by means of Knight Lab's [Timeline.js](https://timeline.knightlab.com/docs/json-format.html) library.

[2019-10-05 08:26] brettkromkamp opened #12 "Add Google Maps support"
Add Google Maps support allowing the user to set a geographic coordinate for subsequent visualization in Google Maps for a topic.

How to set the coordinates using Google Maps is explained in the Google Maps [documentation](https://stackoverflow.com/questions/15792655/add-marker-to-google-map-on-click).

[2019-10-05 08:28] brettkromkamp opened #13 "Implement "knowledge paths" by adding additional navigational support (between topics)"
Add appropriate navigational buttons to topic view if an association of type "navigation" with role of either "up", "down", "next" and/or "previous" is present.

Relevant URL: https://stackoverflow.com/questions/42388989/bootstrap-4-center-vertical-and-horizontal-alignment

[2019-10-05 08:32] brettkromkamp opened #14 "Add image cropping support (when uploading image)"
Functionality to crop an image before uploading it to the server using an [image cropping](https://ourcodeworld.com/articles/read/281/top-7-best-image-cropping-javascript-and-jquery-plugins) library/plugin.

[2019-10-05 08:36] brettkromkamp opened #15 "Advanced (full-text) search"
Use [ElasticSearch](https://www.elastic.co/) to provide advanced/full-text search in Contextualise.

Relevant URLs:
https://pypi.org/project/elasticsearch/
https://github.com/elastic/elasticsearch-dsl-py

[2019-10-05 08:39] brettkromkamp opened #16 "Add UI support for tagging"
Adding, removing and visualizing (i.e., tag cloud) tags using the appropriate (topic maps) association types and roles.

[2019-10-05 08:40] brettkromkamp opened #17 "Implement topics index"
An index (list) of all topics in a given topics map with pagination.

[2019-10-05 08:45] brettkromkamp opened #18 "Provide stand-alone glTF (three.js-based) 3D model viewer"
Contextualise has support for [glTF](https://www.khronos.org/gltf/)-based 3D files (occurrences). The 3D model viewer (using [three.js](https://threejs.org/)) should be provided as a stand-alone JavaScript package (using [webpack](https://webpack.js.org/)).

[2019-10-05 08:46] brettkromkamp opened #19 "Add AR (augmented reality) support for 3D occurrences"
Pending description.

[2019-10-05 08:47] brettkromkamp opened #20 "Add tooltips where appropriate"
Self-explanatory.

[2019-10-05 09:14] brettkromkamp opened #21 "Remove Google KnowledgeGraph feature"
At some point, Google KnowledgeGraph support was added to Contextualise. Nonetheless, the Google KnowledgeGraph API provides for a poor experience. Removing the Google KnowledgeGraph support would be the first step in replacing it with perhaps something like the Wikidata API.

[2019-10-05 09:53] #1 closed

[2019-10-05 15:32] nomatica commented on #4
@brettkromkamp I just want to say once again that I totally understand that it would be a huge undertaking.  It is hard for me to give my take on the demand, until I have see it and used it.  We live in a world where saas and server based "solutions" saturate the market.  Server solutions are a niche market. A stand alone desktop application can be used by anyone. I say this with the upmost respec

[2019-10-05 15:45] machawk1 commented on #4
@nomatica One of the barriers in creating a native app is having to manually code up the UI and then debug cross-platform issues if applicable. One option is for contextualise to be a native, double-clickable app with the UI still being web based.

Also glad to hear you know of [WAIL](https://github.com/machawk1/wail)! We [rewrote it in Electron](https://github.com/n0tan3rd/wail) as well with a sl

[2019-10-05 15:52] brettkromkamp commented on #4
@nomatica It’s my intention to publish Contextualise (https://contextualise.io) as soon as possible. Saying that, it could still be a couple of weeks before that actually happens. I’ll keep people posted.

[2019-10-07 17:29] #3 closed

[2019-10-07 17:31] brettkromkamp opened #22 "Contextualise feedback"
@machawk1 Hi Mat, not sure if you have actually taken a look at Contextualise yet. But, if you have, I would love to hear what you think of it. What works? What really doesn't? Thanks in advance.

[2019-10-07 17:39] machawk1 commented on #22
Hi @brettkromkamp, not just yet. I am still in the process of getting it working. I will provide feedback as soon as I can accomplish that then have a look around and provide feedback.

[2019-10-07 17:52] brettkromkamp commented on #22
@machawk1 Still trying to get it to work? OMG! Is there anything I can help with? I presume it is PostgreSQL that is giving you the most problems?

[2019-10-07 17:58] machawk1 commented on #22
@brettkromkamp I don't want to chalk it up to PostgreSQL just yet. Using the Docker configuration, I _should_ be seeing something at 127.0.0.1:5000 or localhost:5000 but don't. I was hoping that @ibnesayeed would provide some feedback on getting it working with his extensive Docker familiarity, but just got the suggestion to prematurely refactor/orchestrate using Docker Compose. :\

Should I be ab

[2019-10-07 18:11] MimaIsAwesome commented on #20
Hello, i would like to work on this issue. Can you assign me please?

[2019-10-07 18:40] brettkromkamp commented on #20
@MimaIsAwesome Assigned the issue to you. Let me know if you need any help/input.

[2019-10-07 18:43] brettkromkamp commented on #22
@machawk1 This is what I see when PostgreSQL is not up. So, if the database is not correctly set up, you should be seeing something (a stack trace, etc.) in the browser because Flask is running in **development** mode.

![127 0 0 1_5000_](https://user-images.githubusercontent.com/160078/66339178-df997400-e942-11e9-9ff2-1f23843ec2a6.png)

[2019-10-07 18:46] brettkromkamp commented on #22
@machawk1 No stress, though! I understand that this is something you can only work on now and then.  I just don't want you hitting your head on a brick wall if I can help with something.

[2019-10-07 19:00] machawk1 commented on #22
@brettkromkamp I was expecting something akin to a stack trace as you mentioned. That would give me some indication that requests are hitting the app in the container. I think it is probably a simple fix but have yet to loop back to work on it more.

[2019-10-07 19:02] brettkromkamp commented on #20
Just to clarify... use Bootstrap’s tooltip component: https://getbootstrap.com/docs/4.3/components/tooltips/

[2019-10-07 19:18] MimaIsAwesome commented on #20
Thanks im on it.

[2019-10-07 20:23] ibnesayeed commented on #22
I was not pushing a prematurely refactor, but I believed (based on my "extensive Docker familiarity") that a micro-service based set up here would be much easier than having a single monolithic Docker image, even for experimentation. Unfortunately, at that time the documentation of this repo was not up to the mark where I could understand the working without hunting through the code. The repo does

[2019-10-07 20:31] brettkromkamp commented on #22
@ibnesayeed Thanks for pointing out deficiencies in both Contextualise and TopicDB... much appreciated. I will fix.

[2019-10-07 20:47] ibnesayeed commented on #22
No repository is perfect from the day one, they are improved over time with collaboration, constructive feedback, and contributions. I appreciate your work, though I am yet to explore the utility of this tool in my workflow and the maturity of application.

A side question, did you consider making topic-db database agnostic with the help of Object Relational Mapping libraries? Unless you are using

[2019-10-08 18:04] brettkromkamp commented on #22
@ibnesayeed TopicDB used SQLite in its early phase of development. Nonetheless, it was always my intention to switch to PostgreSQL with it being the database that I am most familiar with. In theory after some minor refactoring it should be possible using some kind of connection-specific OO strategy pattern for TopicDB and, by extension, Contextualise to be database-agnostic. Saying that, I'm not s

[2019-10-08 19:31] ibnesayeed commented on #22
Since I do not know much about this project, I was hoping to see a demo/playground installation somewhere, but the README only has a screenshot available to feel the application. This reminds me of a cool feature of [Play-with-Docker](http://play-with-docker.com/) called, [Try in PWD](https://medium.com/@marcosnils/showcasing-your-applications-with-docker-in-a-single-click-9e9fa2908c51), which all

[2019-10-08 19:56] brettkromkamp commented on #22
That does sound very interesting and makes a lot of sense. It would be great if Contextualise could make use of something like Try in PWD. Basically, what this all comes down to is that I just have to bite the bullet and learn Docker :)

[2019-10-13 08:45] brettkromkamp opened #23 "Change fixed-width layout to fluid-width"
Self explanatory.

Relevant link: https://getbootstrap.com/docs/4.3/layout/overview/

[2019-10-13 08:54] brettkromkamp commented on #23
First commit: https://github.com/brettkromkamp/contextualise/commit/82d07b18b3253a4583df8ad2f3978af3d85d2042

[2019-10-13 15:08] #23 closed

[2019-10-15 19:07] brettkromkamp commented on #22
@machawk1 I'll take a stab at getting support in place for [multiple back-end persistence stores](https://github.com/brettkromkamp/topic-db/issues/3) (i.e., databases) for TopicDB and by extension Contextualise. I'll keep you in the loop.

[2019-10-19 07:30] brettkromkamp commented on #22
@ibnesayeed @machawk1 @nomatica @vladimirkosolapov Came across this application the other day (haven't tried it myself, yet), but it might be of interest: [Roam](https://roamresearch.com/).

[2019-10-20 16:55] machawk1 commented on #22
Thanks for the link, @brettkromkamp. I was not aware of Roam. I gave it a spin and it seems pretty intuitive -- I just wish it was self-hostable.

[2019-10-25 06:09] brettkromkamp opened #24 "Refactor scope filtering to also include no filtering at all"
Currently, scope filtering is always "active", that is, the topic view is always rendered with occurrences and associations filtered by scope (by default, occurrences and associations have "Universal" (*) scope). It makes sense to be able to disable scope filtering (which is obviously something distinct than filtering by the default Universal scope) to see all the topic's occurrences and associati

[2019-10-25 06:12] brettkromkamp commented on #24
The terminology used for scope in Contextualise is "context".

[2019-11-04 17:18] brettkromkamp commented on #22
@nomatica I apologize for the delay in replying. Well, Contextualise has features like associations that allow you to establish semantically very accurate relationships between topics. Tagging, for example, is built on top of associations. What I mean by that is when you tag a topic, what the application is doing "under the hood" is creating the appropriate association between the topic that is be

[2019-11-04 17:25] brettkromkamp commented on #22
@nomatica Truth be told I still have to implement the [user interface for tagging](https://github.com/brettkromkamp/contextualise/issues/16). Nonetheless, it will be quick to implement as the topic maps engine already has support for tagging.

[2019-11-04 17:50] brettkromkamp opened #25 "Test Contextualise with Python 3.8"
Test with Python 3.8 and fix any issues that are the result of running Contextualise with Python 3.8.

[2019-11-05 19:12] brettkromkamp commented on #24
Done.

[2019-11-05 20:19] brettkromkamp commented on #24
Bug when no filter parameter is provided (it should maintain whatever the user set last instead of the current behaviour of reverting to filtering enabled).

[2019-11-05 20:26] brettkromkamp commented on #24
Done.

[2019-11-05 20:26] #24 closed

[2019-11-05 20:32] brettkromkamp commented on #25
On-going testing of [TypedTree](https://github.com/brettkromkamp/typed-tree), [TopicDB](https://github.com/brettkromkamp/topic-db) and Contextualise (including external dependencies) is looking good, so far.

[2019-11-06 13:04] MimaIsAwesome commented on #20
Hello again, i am unable to work on this issue anymore, thanks for opportunity and sorry for inconvenience

[2019-11-06 18:10] brettkromkamp commented on #20
@MimaIsAwesome Don't stress about it :) Thanks for trying.

[2019-11-10 06:46] brettkromkamp commented on #25
Contextualise has been running without any (apparent) problems on Python 3.8 for several days.

[2019-11-10 06:46] #25 closed

[2019-11-10 07:06] brettkromkamp opened #26 "Network graph must take context/scope filtering into account"
Currently, the network graph is always filtered by scope (which could be the default "Universal" scope); nonetheless, it should be possible to display the network graph without any scope filtering since this feature has been added to Contextualise: https://github.com/brettkromkamp/contextualise/issues/24

![graph-view](https://user-images.githubusercontent.com/160078/68540321-31914780-0390-11ea-8b

[2019-11-25 09:48] imthevs opened #27 "Add support for OWL and/or RDF files"
Add support to import and export OWL and/or RDF files.

Look at Semantic Mediawiki's Halo extension for inspiration:  https://sourceforge.net/projects/halo-extension/

I absolutely LOVE this project.  This has such amazing potential, IMO.

No idea if OWL/RDF support is feasible or if this is the route you intend to take.  But if this come through, it's going to be amazing!

[2019-11-25 17:56] brettkromkamp commented on #27
Hi @imthevs. Thanks for your feedback. I'll take a look at the Semantic Mediawiki's Halo extension and, at least, consider adding support for importing and exporting OWL/RDF files. I must admit that it is not something that I had considered. With regards to Contextualise, have you actually tried it out (more to the point, were you able to install it)?

[2019-11-25 20:02] imthevs commented on #27
Err... Afraid not.  I'm not very good at handling anything that needs CMD.  But I intend to use it.  I know I'm going to love it.  Just have to get over my CMD phobia!

[2019-12-22 08:50] brettkromkamp opened #28 "Update Bootstrap from 4.3.7 to 4.4+"
See URL: https://getbootstrap.com/docs/4.4/getting-started/introduction/

[2019-12-22 08:51] brettkromkamp commented on #28
Done. Currently testing.

[2020-01-16 19:50] brettkromkamp commented on #6
Couldn't resist making some minor view-related fixes as part of the commit: https://github.com/brettkromkamp/contextualise/commit/11815a3d0075e20512f103632b9bd2993f676af5.

[2020-01-18 17:32] brettkromkamp commented on #28
Testing completed.

[2020-01-18 17:32] #28 closed

[2020-01-18 17:33] brettkromkamp commented on #6
Testing completed.

[2020-01-18 17:33] #6 closed

[2020-01-19 10:06] brettkromkamp opened #29 "Include support for 'scope' parameter for BaseName objects"
Within the context of this TopicDB issue: https://github.com/brettkromkamp/topic-db/issues/14

[2020-01-20 16:55] brettkromkamp commented on #29
Initial implement done on this commit: https://github.com/brettkromkamp/contextualise/commit/2e97542bd8d2ed36d4676451c689e664b67f27d3

[2020-01-20 16:55] #29 closed

[2020-01-27 05:54] komish commented on #22
@brettkromkamp @machawk1 I'm not sure if you got this running, but In my testing this was due to the container needing to listen in all interfaces. I adjusted the final line in the Dockerfile to look like this.

[code]

Then I saw various issues in the application reading the `settings.ini` (missing keys). I realized that the README references a sample `settings.ini` but it's missing `DATABASE.Hos

[2020-01-27 20:01] brettkromkamp commented on #22
@komish Thank you very much for contributing to Contextualise. I have updated both the README and the Dockerfile in accordance to your comments. Unfortunately, my knowledge of Docker is limited so I cannot take this specific issue much further. At some point @ibnesayeed suggested a "micro service" based Docker setup with each component (e.g., the database, web server, application) in their own con

[2020-01-27 20:05] brettkromkamp commented on #22
@komish At some point in the not too distant future I intend to make Contextualise publicly available so people can check it out to see if it covers their needs before having to set it up locally.

[2020-01-27 20:11] brettkromkamp commented on #21
Python wrapper for Wikipedia (API): https://github.com/martin-majlis/Wikipedia-API

[2020-01-27 20:20] machawk1 commented on #22
Quick update, I pulled fresh from master (35fe4735df35a756d21a2d993cc1d622027d1bba) and ran through the three docker steps in the README. After the third step, I opened http://127.0.0.1:5000/ in my browser, was shown the trace UI (attached) and the application reported the following on the command line.

<details>
<summary>Command line output (click to expand)</summary>

[code]
</details>

<img wi

[2020-01-27 20:24] brettkromkamp commented on #22
@machawk1 I’ll fix.

[2020-01-28 00:58] komish commented on #22
@machawk1 in the meantime while #21 is getting resolved, just add the these lines to your settings.ini.

https://github.com/brettkromkamp/contextualise/blob/master/settings-sample.ini#L14-L15

[2020-01-28 20:15] brettkromkamp commented on #21
Done https://github.com/brettkromkamp/contextualise/commit/4b2e7bbc800551e4acc8b027871da8c6762674b3.

[2020-01-28 20:15] #21 closed

[2020-01-28 20:18] brettkromkamp opened #30 "Integrate with MediaWiki (Wikipedia) API"
Python MediaWiki API wrappers: https://github.com/search?q=python+mediawiki+api

[2020-02-09 20:03] brettkromkamp opened #31 "Micro service-based Docker setup"
Contextualise’s Docker support is still under development. What’s more, its current monolithic Docker setup should be refactored into a micro service-based setup for components such as PostgreSQL (database), Nginx (web-server), and so forth.

I really need help with this :)

[2020-02-09 20:10] weaversam8 commented on #16
+1 on this - I think the ability to capture information _quickly_ is something that's very important, and being forced to choose a topic at the moment where you input a note isn't necessarily the only way to do it.

If I could jot down a plaintext note with #hashtags that would then suggest some relevant links (topical, to other notes, etc) to make later, that would be a great feature to reduce th

[2020-02-09 20:19] fradeve opened #32 "First installation feedback: unexpected keyword argument 'scope'"
Hi Brett,

first and foremost, thanks for opensourcing Contextualise!

I am giving it a try, and I incurred in an error when trying to open my first map. Here's how to reproduce it:

* logged in as `admin@` as per readme
* created new map with title, description and image (form won't save without an image)
* went to `http://127.0.0.1:5000/topics/view/1/home` and I got the following:

[code]
Any id

[2020-02-09 20:23] lagleki opened #33 "Hypergraphs?"
Allow edge to connect more than two nodes.

[2020-02-09 20:29] charlestondance commented on #32
I am seeing the same issue would be great to know what is going on.

[2020-02-09 20:31] brettkromkamp commented on #32
@fradeve @charlestondance It must be related to a recent refactoring I did in relation to scopes. I'll take a look at it now.

[2020-02-09 20:48] brettkromkamp commented on #32
@fradeve @charlestondance I think I know what is causing the error: I have made some changes to TopicDB (https://github.com/brettkromkamp/topic-db), the topic map engine that Contextualise uses. Nonetheless, I haven't pushed the latest version to PyPI, yet. A temporary work-around would be to uninstall TopicDB (version 1.0) with `pip uninstall topic-db` followed by cloning TopicDB and doing a `pip

[2020-02-09 20:53] brettkromkamp commented on #33
@lagleki The underlying topic maps engine supports exactly that: allowing an edge to connect to more than two nodes. Nonetheless, for the sake of simplicity in the user interface, Contextualise limits associations to just two topics/nodes. I could add an advanced UI to allow for edges to connect to more than two nodes. Food for thought!

[2020-02-09 21:33] ripperdoc commented on #31
I experience some issues running the Dockerfile:
- TopicsDB is not installed with it
- The CMD command is not starting Postgres so there is no database when run. It should probably be `/etc/init.d/postgresql start &&` before as long as it's monolithic?
- Access rights are not setup to store data in the `/contextualise/static/resources` path within the Docker-file, so no uploads work (and creating

[2020-02-09 21:45] brettkromkamp commented on #31
@ripperdoc Yes, the Current Docker setup is not working properly. I would dearly appreciate any assistance you could provide with regards to Docker, but I fully understand that there are only so many hours in a day :) No stress.

[2020-02-09 22:22] fradeve commented on #32
Hi @brettkromkamp,
thank you very much for your prompt response, I didn't expect that!

I have followed your instructions, and I got some progress, indeed.

Nonetheless, seems that a column is missing from the DB, since I now get this:

[code]

Is there any DB migration that I need to run as part of the installation process?

This is what my DB looks like at the moment:
[code]

[2020-02-09 22:43] brettkromkamp commented on #32
@fradeve The problem is related to a recent refactoring in which I added a `scope` property to the `BaseName` class. However, I forgot to update the accompanying Contextualise/TopicDB database (SQL) creation script: https://gist.github.com/brettkromkamp/87aaa99b056578ff1dc23a43a49aca89

So, there is a `basename` table in the `contextualise` schema/database that requires the addition of the `scope`

[2020-02-09 22:46] brettkromkamp commented on #32
@fradeve By the way, it is my intention to make Contextualise publicly available (and free of charge) so as to avoid (potential) users from having to go through the convoluted setup process. I hope to publish Contextualise within the next week or so.

[2020-02-10 17:01] #31 closed

[2020-02-10 17:12] brettkromkamp opened #35 "Make Contextualise publicly available"
- Domain
- Hosting
- HTTPS certificate
- Database
- Web server (Nginx)
- Email service
- Configuration
- Testing

[2020-02-11 06:21] brettkromkamp opened #36 "Tabs/menus user interface refactor"
Currently, to switch between the different “parts” of the application (for example, the topic view, the associations view) you have to click twice (first click to open the drop-down menu, second click to select the ‘view’ item in the menu). This, in practice, is a bit cumbersome and a different approach is needed.

[2020-02-11 09:54] brettkromkamp opened #37 "Network graph fails with (JavaScript) TypeError: Cannot read property 'forEach' of undefined"
Related issue: https://github.com/brettkromkamp/contextualise/issues/26

[2020-02-11 13:02] brettkromkamp opened #38 "Add section to README.rst outlining how to configure three.js (3D)"
Contextualise includes the ability to attach and view 3D scenes (as topic occurrences) for which [three.js](https://threejs.org/) is required. A section in the README file should outline how to install/configure three.js to allow for this feature.

[2020-02-11 18:10] brettkromkamp commented on #37
Fixed by https://github.com/brettkromkamp/contextualise/commit/71a9a055826dbf1b25f7a712c5ecc122065e08d9

[2020-02-11 18:10] #37 closed

[2020-02-11 18:10] brettkromkamp commented on #26
Fixed by https://github.com/brettkromkamp/contextualise/commit/71a9a055826dbf1b25f7a712c5ecc122065e08d9

[2020-02-11 18:10] #26 closed

[2020-02-11 18:33] brettkromkamp commented on #22
Some very relevant feedback with regards to Contextualise is available on HackerNews, here: https://news.ycombinator.com/item?id=22282583

[2020-02-11 19:34] machawk1 commented on #22
In adding the settings.ini with those from the README (in the Docker section), I am shown the trace like https://github.com/brettkromkamp/contextualise/issues/22#issuecomment-539150015 :
[code]

Should other values be put in-place here to make the db accessible?

[2020-02-11 20:06] brettkromkamp commented on #22
@machawk1 No additional values, as far as I can see, are needed for the database. Is the database up? In all of these Docker-related files where is the database actually started? The `docker-compose.yml` file?

[2020-02-11 20:17] brettkromkamp commented on #22
@machawk1 Just out of curiosity... have you actually ever got Contextualise up and running? It seems like the Docker setup is still not 100% right, so I presume you have never had the Contextualise Docker container working, or? What about the traditional (non-Docker) approach to installing the application? Have you tried that? If yes, did you get it work?

[2020-02-11 20:39] machawk1 commented on #22
@brettkromkamp I thought I had but not so sure now. Any setup I did might have been on a previous system (when this GH issue started). With that in-mind, I am open to trying to get it installed on my current system sans Docker.

Going at the "Install the Development Version" section in the README naively. Is the expectation that the users will build `psycopg2` from source? If not, `pip3 install ps

[2020-02-11 20:51] brettkromkamp commented on #22
@machawk1 Tomorrow, I will install Contextualise on a completely fresh (Ubuntu) VM and will document every step I make. I’m not aware of Contextualise being anything else than a very standard Flask/PostgreSQL application but seeing how much people are seemingly struggling to install/configure the application makes me wonder. I’ll get back to you on this...

[2020-02-11 20:56] machawk1 commented on #22
@brettkromkamp Looking forward to what you find. One scapegoat might be, at least those that are installing it on their system, that Linux has some (e.g.) headers that are not present on macOS (on which I am installing it). Docker _should_ be able to mitigate these issues, and I get further along with it than on macOS, but I am still having the aforementioned issues of the code connecting to the d

[2020-02-11 20:57] brettkromkamp commented on #22
@machawk1 Will do! :)

[2020-02-12 14:23] brettkromkamp opened #40 "Add "advanced" association creation GUI to allow for associations with multiple topics"
With regards to multiple distinct edges between vertices: TopicDB, the underlying topic maps engine, (https://github.com/brettkromkamp/topic-db) already allows this. However, in my drive to simplify from a user-perspective, there is no corresponding GUI. A possibility would obviously be to provide both the current simplified GUI (by default) and an advanced GUI (allowing for multiple edges between

[2020-02-13 03:25] tonyday567 opened #42 "OSX installation"
I have attempted to install on my mac from scratch with the following steps:

[code]

All good!

Then created a directory for the 'project' ie somewhere to place a settings.ini (and a topicmap-definition.sql):

[code]

Then edited settings.ini to:

[code]

Then create a test database.

[code]

All looked good!

Then run flask:

[code]

And it looked like the readme example.

But then, when I open

[2020-02-13 19:31] brettkromkamp commented on #42
@tonyday567 Can you confirm that you are installing Python 3 with `brew install python` (just run `python --version` in the terminal). I personally don't have a Mac, but I do know that installing on Mac is proving to be somewhat challenging. By the way, it is my intention to make Contextualise publicly available (hopefully within the next week).

[2020-02-13 19:41] brettkromkamp commented on #42
@tonyday567 Could you provide the full stack trace?

[2020-02-14 00:37] tonyday567 commented on #42
Installing postgres first gave me all the build prerequisites mentioned in the readme, so it was fairly painless. The main bug I ran into was installing postgres splatted python somehow, by mixing up openssl. And then a `brew reinstall python` fixed that.

Versions and stack trace below:

[code]

stack trace:

[code]

[2020-02-16 10:51] zhuliangbing opened #43 "Failed to open the home page due to an error in running Flask"
flask.cli.NoAppException
flask.cli.NoAppException: While importing "contextualise", an ImportError was raised:

Traceback (most recent call last):
  File "d:\python\lib\site-packages\flask\cli.py", line 240, in locate_app
    __import__(module_name)
  File "D:\contextualise\contextualise\__init__.py", line 13, in <module>
    from flask_mail import Mail
ModuleNotFoundError: No module named 'flask_

[2020-02-16 17:06] brettkromkamp commented on #35
- Domain: DONE
- Hosting: DONE
- HTTPS certificate: DONE
- Database: DONE
- Web server (Nginx): DONE
- Email service: DONE
- Configuration
- Testing

[2020-02-16 17:35] brettkromkamp opened #44 "Adopt UI (design) to work well on an iPad (tablets, in general)"
![contextualise-topic-view-ipad](https://user-images.githubusercontent.com/160078/74609511-f61ebb80-50ea-11ea-9d2b-f3ae6cc22cf2.png)

At least need to avoid wrapping of the tabs/menu and the footer text.

[2020-02-16 18:54] brettkromkamp commented on #44
Last (https://github.com/brettkromkamp/contextualise/commit/a8e8de286c813d590c285b900be61b46358a5039) of two commits has improved layout (both for desktop and for the iPad).

![contextualise-topic-view-ipad2](https://user-images.githubusercontent.com/160078/74610729-2ddf3080-50f6-11ea-8f6f-0f1299b739a3.png)

[2020-02-16 19:06] brettkromkamp commented on #44
Fix breaking nav-bar on the iPad (when not in the "Home" topic).

![contextualise-topic-view-ipad3](https://user-images.githubusercontent.com/160078/74610918-bad6b980-50f7-11ea-830b-dbdcb5361eda.png)

[2020-02-16 19:15] nomatica commented on #22
Found this fascinating to read through. Lots of good feedback.   When you mentioned roam above I found myself thinking about tiddlywiki (mentioned in the thread) I have recently discovered tiddlyblink which is a tiddlywiki that has some plugins that is suppose to make it  more similar to Roam.   I am looking forward to trying to install countextualise in the comping weeks after it is released.

[2020-02-16 19:29] brettkromkamp commented on #22
@nomatica Contextualise is within days of being released. I’ll keep you informed.

[2020-02-16 19:35] brettkromkamp opened #45 "Internal server error when creating a new map"

[2020-02-16 20:34] brettkromkamp commented on #45
Fixed by commit: https://github.com/brettkromkamp/contextualise/commit/27f7f18c9d599e126f93fceaf8007aba14d879a8

[2020-02-16 20:34] #45 closed

[2020-02-17 17:24] brettkromkamp opened #46 "Add link to public maps on the Contextualise landing page"

[2020-02-17 18:39] brettkromkamp commented on #46
Done in commit: https://github.com/brettkromkamp/contextualise/commit/e3f3014ad465c95a25aa7ff36c31a5dff50a0d1b

[2020-02-17 18:39] #46 closed

[2020-02-17 20:44] brettkromkamp opened #47 "Configure to send emails via a task queue"
Currently, (authentication-related) emails are sent inline. Makes sense to configure to send emails via a task queue like Celery (http://www.celeryproject.org/).

[2020-02-17 20:45] brettkromkamp commented on #47
See documentation, here: https://flask-security-too.readthedocs.io/en/stable/customizing.html#emails-with-celery

[2020-02-18 13:58] brettkromkamp opened #48 "Refactor landing page to display "promoted" shared maps"
Currently, the landing page only has a link (button) to redirect to the shared maps page. Ideally, those maps that are actively selected (i.e., promoted) should display on the landing page (using cards).

[2020-02-19 19:09] brettkromkamp opened #49 "Enable custom error pages in Nginx"
Custom error pages have been defined for HTTP 403, 404, 413 and 500 errors. This works in development mode but not in production with Nginx. Seemingly, this has to be separately configured with Nginx (see http://www.wonderousponder.com/how-to-enable-custom-error-pages-for-apps-using-nginx-and-uwsgi/).

[2020-02-21 18:21] #49 closed

[2020-02-24 07:46] brettkromkamp commented on #48
Perhaps, using this kind of layout: https://getbootstrap.com/docs/4.4/examples/pricing/

[2020-02-24 22:44] brettkromkamp commented on #35
Writing tutorial is still ongoing but application is available, here: https://contextualise.dev/

[2020-02-24 22:44] #35 closed

[2020-02-25 08:18] #18 closed

[2020-02-25 18:15] brettkromkamp commented on #40
Basically a duplicate of https://github.com/brettkromkamp/contextualise/issues/33

[2020-02-25 18:15] #40 closed

[2020-02-25 18:24] brettkromkamp opened #50 "Bad request (400) when creating a new map (as non-admin user)"

[2020-02-25 18:37] brettkromkamp commented on #50
Fixed by https://github.com/brettkromkamp/contextualise/commit/9510a47a746ffea183752565bd8a6ad606f66b23

[2020-02-25 18:45] brettkromkamp commented on #50
Fixed (for map editing) by https://github.com/brettkromkamp/contextualise/commit/576c2e0e8c0c1896efa1be8d8f6eade32df0418f

[2020-02-25 18:45] #50 closed

[2020-02-27 10:06] brettkromkamp opened #51 "Add keyboard shortcuts for editing a topic and switching to a specific (occurrence or association) tab"

[2020-02-27 10:08] brettkromkamp commented on #51
Keyboard shortcuts together with a help function to display the shortcuts.

![keyboard-shortcuts](https://user-images.githubusercontent.com/160078/75434226-8366d900-5951-11ea-9d98-e7c524e335f9.png)

[2020-02-28 17:18] brettkromkamp opened #52 "Upgrade to Python 3.10.3"
See URL: https://docs.python.org/release/3.8.2/whatsnew/changelog.html#python-3-8-2-final

[2020-03-01 17:11] brettkromkamp commented on #51
Initial commit: https://github.com/brettkromkamp/contextualise/commit/5e652168b025dc6db6b90a52ba3184775a98cccb

[2020-03-04 13:20] zhuliangbing opened #53 "Internal Server Error"
I  have created a new topic map. When adding a new topic, the following error appears:
————————————————————————————————
Internal Server Error
Something has gone wrong. Get in touch with Support if the problem persists. Find your way back home.

[2020-03-04 17:42] brettkromkamp commented on #53
I cannot reproduce the error after creating a new topic map and adding a topic to it. I'll review the error logs. Perhaps you could record a quick screen cast in which you reproduce the error? Just to be sure... this was over at https://www.contextualise.dev/ or have you installed Contextualise and the error happened locally?

[2020-03-04 18:11] brettkromkamp commented on #51
Shortcuts added with: https://github.com/brettkromkamp/contextualise/commit/edf70f7c35bb9c6efccd0bdd4bb5ccb6a025743d

Short cuts include:

- "t v": View topic
- "t c": Create topic
- "t e": Edit topic
- "i v": View images
- "3 v": View 3D resources
- "f v": View files
- "l v": View links
- "v v": View videos
- "a v": View associations

Adding a help dialog with the short cuts will be added as a se

[2020-03-04 18:11] #51 closed

[2020-03-04 18:36] brettkromkamp commented on #53
@zhuliangbing What fields are you providing? Topic name, the (generated) topic identifier and perhaps the topic's text? Any changes to the default advanced settings? Are you using a language other than English? Anyway... any additional info to try to determine what the problem is would be great :)

[2020-03-05 04:40] zhuliangbing commented on #53
when I create a new topic at https://contextualise.dev whether it's a new Chinese or English topic,there is a "Internal Server Error".See attachment screenshot for details，please.Thank you very much! &nbsp; Liangbing Zhu

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Brett Alistair Kromkamp"<notifications@github.com&gt;;
发送时间:&nbsp;2020年3月5日(星期四) 凌晨1:42
收件人:&nbsp;"brettkromkamp/c

[2020-03-05 07:38] brettkromkamp commented on #53
@zhuliangbing I don't see the attachment. But, regardless, just attempting to create a topic should obviously not cause an error. Problem is that I cannot reproduce and I am seemingly not seeing anything out of the ordinary in the (error) logs. But, I'll take a closer look at this part of the code base (https://github.com/brettkromkamp/contextualise/blob/edf70f7c35bb9c6efccd0bdd4bb5ccb6a025743d/co

[2020-03-07 22:05] brettkromkamp opened #54 "Internal server error when navigating (for the first time) directly to a topic"
See URL: https://contextualise.dev/topics/view/1/home

[2020-03-08 06:52] brettkromkamp commented on #54
Fixed with commit: https://github.com/brettkromkamp/contextualise/commit/6575bacacfb174eabbb777e933ef0c8586d1816c

[2020-03-08 06:52] #54 closed

[2020-03-08 06:56] brettkromkamp commented on #53
@zhuliangbing Although I haven't found anything specific that is causing the bug you've described I have refactored the code in this part of the application a bit. Could you try again to create a topic and let me know if it still fails?

[2020-03-08 07:00] brettkromkamp commented on #32
@fradeve If you weren't already aware, Contextualise is now publicly available at: https://www.contextualise.dev/. I will be making available some short screen casts soon explaining how the application works: e.g., create a topic, edit a topic, add a note, upload an image to a topic, create an association and so forth.

[2020-03-08 07:40] zhuliangbing commented on #53
@Brett，When I create a new topic, I still report an error as follows:

Internal Server Error

Something has gone wrong. Get in touch with Support if the problem persists. Find your way back&nbsp;home.

URL：https://contextualise.dev/topics/edit/4/home

——————————————————————————————————————————————————————————————

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Brett Alistair Kromk

[2020-03-08 08:11] brettkromkamp commented on #53
@zhuliangbing Very frustrating (as I cannot reproduce the bug). Could you signup (i.e., create a new user) and try again and see if the problem persists?

[2020-03-08 08:48] brettkromkamp opened #55 "Multi-user topic map collaboration"
Currently, only the creator (owner) of a topic map has edit-level access to it. This feature would make it possible for the topic map owner to add users to the topic map for the purpose of collaboration.

[2020-03-15 06:01] brettkromkamp commented on #44
This commit fixes the breaking nav-bar issue (described above): https://github.com/brettkromkamp/contextualise/commit/5a73afff0edabe7e07bb817f0d4a139c27345f3e

[2020-03-15 06:01] #44 closed

[2020-03-15 10:42] brettkromkamp commented on #53
Not reproducible.

[2020-03-15 10:42] #53 closed

[2020-03-15 10:46] brettkromkamp commented on #32
Closing issue. Instructions with a workaround have been provided (if installing locally). For those that don’t want to install locally, the application is publicly available at https://contextualise.dev.

[2020-03-15 10:46] #32 closed

[2020-03-15 10:48] brettkromkamp commented on #4
Application is publicly available, here: https://contextualise.dev/. A stand-alone app is not actively been considered.

[2020-03-15 10:48] #4 closed

[2020-03-15 17:24] brettkromkamp commented on #36
With the addition of keyboard shortcuts this issue makes less sense.

[2020-03-15 17:24] #36 closed

[2020-04-02 21:08] brettkromkamp commented on #55
Depends on: https://github.com/brettkromkamp/topic-db/issues/18

[2020-04-02 21:19] brettkromkamp opened #56 "Sign-up by invite (to collaborate on a topic map)"

[2020-04-08 04:50] brettkromkamp opened #57 "Keyboard shortcuts bug on network visualization page"
Logic (in JavaScript) that builds redirect URL for the keyboard shortcuts is incorrect on the network visualization page due to the different number of parts in the URL on this page as compared to the other (view) pages.

[2020-04-08 04:51] brettkromkamp opened #58 "Copy (duplicate) topic map feature"

[2020-04-08 04:52] brettkromkamp opened #59 "Transfer ownership of topic map (to another Contextualise user)"
This requires functionality upstream (in [TopicDB](https://github.com/brettkromkamp/topic-db)).

[2020-04-08 04:53] brettkromkamp commented on #58
This requires functionality upstream (in [TopicDB](https://github.com/brettkromkamp/topic-db)).

[2020-04-08 08:36] brettkromkamp opened #60 "Make it possible to easily share a topic map and have it render nicely in social media feeds"
Relevant links:
* [Open Graph](https://ogp.me/)
* [What You Need to Know About Open Graph Meta Tags...](https://neilpatel.com/blog/open-graph-meta-tags/)

[2020-04-08 21:20] brettkromkamp commented on #55
The bulk of the work is done. Lots of small updates with regards to access logic. Also, need to start working on the migration script (to ensure that users maintain access to their existing topic maps). Oh, yes... then there is also the small thing of testing ;)

[2020-04-10 17:23] brettkromkamp commented on #55
Done! Now just testing (plus, the migration script). I will try to deploy the latest version of the application including the collaboration feature either tomorrow, or Sunday.

[2020-04-12 04:29] brettkromkamp commented on #55
Deployed.

[2020-04-12 04:29] #55 closed

[2020-04-12 16:26] brettkromkamp commented on #60
Done.

[2020-04-12 16:26] #60 closed

[2020-04-13 06:29] brettkromkamp opened #61 "Design a logo for Contextualise"
Not sure why, but I have always associated the symbolism of lighthouses with knowledge management in general and Contextualise in particular.

[2020-04-19 08:36] brettkromkamp opened #62 "Add validation warnings to Sign-up form, Reset password form and so forth"
Currently, when signing up, if the user provides an invalid password (e.g., less than 8 characters), there is no visual feedback provided to the user other than resetting the form. Validation errors need to be displayed appropriately.

Relevant links:

- https://flask-security-too.readthedocs.io/en/stable/patterns.html#password-validation-and-complexity
- https://stackoverflow.com/questions/346596

[2020-04-23 19:42] brettkromkamp commented on #13
Finished with commit: https://github.com/brettkromkamp/contextualise/commit/78c232ec647b0331547fd3b1c7ca84dacac5f43a

[2020-04-23 19:42] #13 closed

[2020-04-28 07:11] brettkromkamp opened #63 "Separate (view) mode for knowledge paths"
Pending description.

[2020-04-28 18:53] brettkromkamp opened #64 "In place topic creation"
In the vast majority of the forms the user is expected to provide references to other topics. For example, when creating an association, the user needs to provide up to 5 references to other topics if overriding the defaults and providing "advanced" values (see attached screen shot):

1. destination topic
2. destination role
3. source role
4. association type
5. context (i.e., scope)

All of the r

[2020-05-02 20:02] brettkromkamp commented on #61
I have taken the following direction with the Contextualise logo (with a compass symbolising _guidance_ - the compass provides a sense of safety as users know they can rely on it to always point them in the right direction.

![contextualise-logo](https://user-images.githubusercontent.com/160078/80890886-9f278c00-8cc0-11ea-9d7f-dc8f94bca6a7.png)

[2020-05-03 16:23] #61 closed

[2020-05-03 20:49] manniche commented on #15
I would suggest, rather than using elasticsearch which would probably be overkill for this project, to use [whoosh](https://whoosh.readthedocs.io/en/latest/intro.html), which is a pure-python search engine

[2020-05-03 21:26] brettkromkamp commented on #15
@manniche Thank you very much for your suggestion. I will definitely take a serious look at Whoosh. I have procrastinated tremendously on this task for not wanting to deal with the complexity of ES nor wanting to add another dependency to Contextualise.

[2020-05-09 07:06] navigator8 commented on #17
What is the status if this topic.

[2020-05-09 14:33] brettkromkamp commented on #17
@navigator8 I'm currently working on https://github.com/brettkromkamp/contextualise/issues/33 which I hope to finish in a couple of days. Once done, I could bump this issue's version number (from 1.1 to 1.0) and move on to working on that. You're asking because it is an import feature for you?

[2020-05-09 22:00] navigator8 commented on #17
@brettkromkamp  I Brett - this one is super important for me. Here is the Use Case. I create topics as they come to me  - empty my brain.  Then I start to associate them as second step. I have realised without Topic index - I have not way of knowing the topics I have in my map.

Secondly, I read your block on different Association Types and Roles - that is very good. I also realised you created so

[2020-05-09 22:03] navigator8 opened #65 "Direction of the Arrows in the Network Visualisation"
When I create associations - there is Source and Destination nodes. On Visualization - the  arrows are on both ends. Any chance of showing outbound / inbound associations e.g. Part of / Composed on / Cause by / Increased by.

[2020-05-10 06:20] brettkromkamp commented on #17
@navigator8 I understand your use case :) Okay, I will probably increase the priority of the topics index feature (put it into version 1.0). With regards to capturing topics first and then associating them later, Contextualise has a feature for that: top-level notes. Take a look, here: https://contextualise.dev/notes/index/44. Here you can see a couple of notes that I have added to a topic map. Af

[2020-05-10 06:28] brettkromkamp commented on #17
@navigator8 Also, take a look at the Knowledge Graph Radar to see which other applications could be of use to you (to map knowledge): https://github.com/brettkromkamp/knowledge-graph-radar#applications

[2020-05-10 09:08] navigator8 commented on #17
This resource is gold. I am familiar with Roam, Tiddlywiki (specifically Tiddlymap.org), Notion. I am still on the waiting list for: KgBase<https://kgbase.com/>

Two more to add to the list: Kumu and https://pengloo.com/<https://pengloo.com/p>

Many thanks

---

Msny om: Brett Alistair Kromkamp <notifications@github.com>
Sent: Sunday, 10 May 2020 4:28 PM
To: brettkromkamp/contextualise <contextual

[2020-05-10 09:10] navigator8 commented on #17
Thanks for the Notes point. I  will start using this until we have an index of the ontology.

Best regards,

________________________________
From: Brett Alistair Kromkamp <notifications@github.com>
Sent: Sunday, 10 May 2020 4:20 PM
To: brettkromkamp/contextualise <contextualise@noreply.github.com>
Cc: Farayi Chambati <flchambati@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [bre

[2020-05-10 20:43] kseistrup opened #66 "Support for SQLite"
Please consider support for SQLite (or ODBC/DBI) so that the app can run with something else than PostgreSQL.

Thanks!

[2020-05-10 21:20] navigator8 commented on #66
I second this. - as I would like to run the TopicDB Library on mobile using an app like Pythonista to create a personal knowledge graph.

I recall - you used to a NoteMapper app on Google store.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Klaus Alexander Seistrup <notifications@github.com>
Sent: Monday, May 11, 2020 8:44:04 AM
To: brettkromkamp/contextualise

[2020-05-10 21:29] brettkromkamp commented on #66
@navigator8 Yes, I had an Android app called NotesMappr on the Play Store. Blast from the past... must be close to 9-10 years ago, now.

[2020-05-10 21:35] navigator8 commented on #66
🙂 I actually bought a cheap android device to test how NoteMapper works. I could not find and still cannot find  TopicMaps/Graph based apps on ios.

________________________________
From: Brett Alistair Kromkamp <notifications@github.com>
Sent: Monday, 11 May 2020 7:29 AM
To: brettkromkamp/contextualise <contextualise@noreply.github.com>
Cc: Farayi Chambati <flchambati@hotmail.com>; Mention <menti

[2020-05-10 21:37] brettkromkamp commented on #66
@kseistrup Why wouldn’t you just use The application at https://contextualise.dev/? Or, do you want to run it locally so as to not have to depend on having internet access?

[2020-05-11 04:20] kseistrup commented on #66
@brettkromkamp Yes, I intended to self-host the app.

[2020-05-11 09:42] stratosgear opened #67 "Issues with bringing the app up with docker"
I just wanted to quickly test out the dockerized version of the app and I came across two issues. I solved the first but did not want to invest more time on the other.

First one was an error with postgres:

[code]

That fix was easy, I just added an environment section to the `db` services in `docker-compose.yml`:

[code]

But then upon login in I got another:

[code]

As this seems to be more ap

[2020-05-11 12:01] brettkromkamp commented on #67
@stratosgear I see the problem. The database structure has changed since the Docker support was added and the https://github.com/brettkromkamp/contextualise/blob/master/sql_init.sh has not been updated accordingly. I'll fix that specific problem later today.

[2020-05-11 16:51] brettkromkamp commented on #67
@stratosgear Should be fixed with this commit: https://github.com/brettkromkamp/contextualise/commit/72dcff1367096dfccd70952c3aa6ba07599447fb

Could you checkout the master branch and try again (I have not incorporated your suggested - could you submit a PR to address that specific issue)?

[2020-05-11 16:51] #67 closed

[2020-05-11 19:00] stratosgear commented on #67
Yes the new `sql_init.sh` fixes the issue.

Had to:

* rebuild the docker image and
* delete the previous docker volume

before the changes would take effect, but they did right after I did the above.

Thanks!

[2020-05-11 19:27] brettkromkamp commented on #67
My Docker knowledge is sketchy at best. Any suggestions for improvements are more than welcome ;)

[2020-05-11 20:22] brettkromkamp commented on #66
@kseistrup Contextualise can be run with Docker. Have you given that a try?

[2020-05-11 20:26] stratosgear commented on #67
Nothing wrong with the steps I took to fix the errors, there is nothing to improve here.  I just listed the steps as a convenience to anyone else that came across the same issue.

[2020-05-12 16:39] kseistrup commented on #66
@brettkromkamp I can't say that I have (I'm not a big fan of dockerizing everything). But even if it ran in Docker I would still have to deal with PostgreSQL, wouldn't I? That's what I would like to avoid.

[2020-05-12 17:16] brettkromkamp commented on #66
@kseistrup You wouldn't really have to deal with PostgreSQL, no. [Docker Compose](https://docs.docker.com/compose/) allows for defining and running multi-container Docker applications. In the case of Contextualise, the [docker-compose.yml](https://github.com/brettkromkamp/contextualise/blob/master/docker-compose.yml) has configured the PostgreSQL container and how it interacts with the rest of the

[2020-05-12 17:37] kseistrup commented on #66
@brettkromkamp I know that I am an old geezer and an outlier, but that doesn't sound appealing to me at all. Before even considering dockerizing everything, I would look for alternatives to Contextualise.

You shouldn't spend your valuable time on me. I will certainly love to see this issue closed and have Contextualise run with SQLite, but it's also too easy for me to suggest such a change becaus

[2020-05-12 17:45] brettkromkamp commented on #66
@kseistrup No worries. You are definitely not squandering my resources. I would just like for you to be able to self-host the app and Docker allows for that. With regards to a SQLite version of TopicDB and by extension Contextualise, you are definitely not the first person to ask for something along those lines so I am considering how I would go about that. Obviously, this would take some time so

[2020-05-12 17:51] kseistrup commented on #66
@brettkromkamp I'm glad to hear that. I won't hold my breath, but I will certainly keep an eye on the project. Thanks for your time so far, I really appreciate it.

[2020-05-12 17:56] brettkromkamp commented on #66
@kseistrup Take a look here (if you haven't already) for a list of knowledge management applications that could be of interest for you: https://github.com/brettkromkamp/knowledge-graph-radar#applications. Several of them are open-source and I imagine can be self-hosted.

[2020-05-12 17:59] kseistrup commented on #66
@brettkromkamp That's an impressive collection. Thanks a lot!

[2020-05-12 20:34] brettkromkamp opened #69 "Upgrade to Twitter Bootstrap 4.5.0"
See URL: https://blog.getbootstrap.com/2020/05/12/bootstrap-4-5-0/

[2020-05-13 19:44] brettkromkamp commented on #69
Done with commit: https://github.com/brettkromkamp/contextualise/commit/550a50b224d41d1bda5ef2180b00694d6d9e44dd

[2020-05-13 19:44] #69 closed

[2020-05-16 06:19] brettkromkamp commented on #33
Done and deployed.

[2020-05-16 06:19] #33 closed

[2020-05-16 18:06] brettkromkamp commented on #48
Done and deployed.

[2020-05-16 18:06] #48 closed

[2020-05-20 17:20] brettkromkamp commented on #16
@weaversam8 Check out this repo for an updated list of applications (personal) knowledge management, note-taking, etc.: https://github.com/brettkromkamp/knowledge-graph-radar

Specifically, [Roam Research](https://roamresearch.com/) and [TiddlyWiki](https://tiddlywiki.com/) are very powerful and allow for quick info ingestion and (back)linking.

Anyway, semantic tagging support has been bumped int

[2020-05-23 16:01] brettkromkamp commented on #64
Done and deployed: https://github.com/brettkromkamp/contextualise/commit/2e2f783eb6990ad17bcbdd89fb1c2a98d009cdd7

[2020-05-23 16:01] #64 closed

[2020-05-24 06:25] brettkromkamp opened #70 "Add favicon"
Now that Contextualise has a logo, it should have the accompanying favicon, as well.

[2020-05-24 20:24] navigator8 opened #71 "[Potential Bug] Cannot delete Notes or edit notes - that are not attached to any topic"
Cannot delete Notes  or edit notes - that are not attached to any topic

[2020-05-25 06:13] brettkromkamp commented on #71
@navigator8 Truth be told... I have forgotten to implement these two actions :O I will implement the functionality to edit and delete "unattached" notes over the next day or two.

[2020-05-27 17:42] brettkromkamp commented on #71
Done and deployed. Thanks for reporting the issue.

[2020-05-27 17:42] #71 closed

[2020-05-28 18:19] brettkromkamp commented on #70
Done and deployed.

[2020-05-28 18:19] #70 closed

[2020-05-29 11:24] brettkromkamp opened #72 "Review and potentially refactor network visualisation"
See visualisation: https://visjs.github.io/vis-network/examples/network/layout/hierarchicalLayoutUserdefined.html

[2020-05-30 10:27] brettkromkamp opened #73 "Add in-place topic creation logic to "layout_notes.html""

[2020-05-30 20:42] brizzbane opened #74 "AttributeError AttributeError: module 'mistune' has no attribute 'html'"
This is my first time using contextualise.

Got it installed, created my first map.  Then I went to edit the 'Home' topic for my map.  I pasted in markdown text from a TiddlyWiki entry I had made.

It immediately went to this error page, and now when I go to 'view map', this same error page shows up.

[code]

the last of the traceback:

[code]

I tried uninstalling/reinstalling mistune with pip.

[2020-05-30 20:51] brettkromkamp commented on #74
@brizzbane Could you check what version of Mistune you have installed with `pip list | grep 'mistune'`?

If it anything other than 2.0.0a4 uninstall it with `pip uninstall mistune` and install the latest version (2.0.0a4) with `pip install mistune==2.0.0a4`.

That should fix the problem. Please let me know either way.

[2020-05-30 20:55] brizzbane commented on #74
Yea I just came back to say I checked requirements.txt file... and my mistune version was wrong.  I'm not sure how that happened...  I did have some errors when running the initial install (pip install -e .) --related to needing apt-get isntall libpq-dev.. so I re-ran pip install -e . a few times.

I did:

[code]

and that fixed it.

Thank you so much for your super quick reply!

[2020-05-30 20:55] #74 closed

[2020-05-30 20:57] brettkromkamp commented on #74
@brizzbane You're welcome. If you have any questions (or hit any other bugs), just let me know :)

[2020-05-30 21:25] brizzbane commented on #74
@brettkromkamp --since you offered :P

...how do you link to another topic (say "blah") w/in contextualise, (using markdown).  I'm assuming linking [blah](http://127.0.0.1:5000/topic/s/view/blah/1) isn't the right way to do it.

I'm super newb to this.  ...If I am asking this question, is contextualise maybe 'too much' for what I'm wanting to do?  (I love TiddlyWiki, ....but I also LOVE Python, an

[2020-05-30 21:44] brettkromkamp commented on #74
You almost had it right [link-title](topic-identifier).

If you take a look at this page: https://www.contextualise.dev/topics/view/1/home

The second link (the one to "topic maps"... in Markdown it's just: `[topic maps](topic-maps)` with  "topic maps" being the link text and "topic-maps" being the identifier of the topic I am linking to: https://www.contextualise.dev/topics/view/1/topic-maps.

At

[2020-05-30 21:46] brizzbane commented on #74
lol--was just going to reply with this below ... and then your reply appeared.  thank you!

an example of what I am wondering how to do, look here:

https://contextualise.dev/topics/view/1/home

at the above site what is the proper way to link to "topic-maps".  I'm hoping that it isn't just a hard  link to exact url? ...that there is some way to actually link so that if topics-maps was renamed, th

[2020-05-30 21:53] brettkromkamp commented on #74
Renaming the topic will not break the link in the Markdown. Topic names are independent of the topic's **identifier**. However, once you have created a topic (with an accompanying identifier), you cannot modify the identifier. In programming terms, the topic identifier is a _constant_.

[2020-05-30 21:59] brettkromkamp commented on #74
By the way, Contextualise (and topic maps-based systems in general) are more formal than (back)links-based systems like Roam and TiddlyWiki. So, you might not find Contextualise as straight-forward as those applications. Also, to get the most out of Contextualise, you really do need to have (at least) a basic understanding of how topic maps work. Otherwise Contextualise working with Contextualise

[2020-05-31 05:53] brettkromkamp commented on #74
Here are a couple of good resources explaining topic maps:

- https://docs.microsoft.com/en-us/previous-versions/aa480048(v=msdn.10)?redirectedfrom=MSDN
- https://ontopia.net/topicmaps/materials/tao.html

[2020-06-02 11:28] brettkromkamp commented on #74
@brizzbane If you have any questions with regards to using Contextualise, just let me know.

[2020-06-03 20:01] brettkromkamp commented on #72
Confirmed that the backend is functioning correctly and tweaked the frontend by increasing the visualisation canvas size, removing superfluous info in the visualisation Itself (topic and association type) and added a loading spinner.

[2020-06-03 20:01] #72 closed

[2020-06-03 20:02] brettkromkamp commented on #57
Removed keyboard shortcuts altogether.

[2020-06-03 20:02] #57 closed

[2020-06-04 13:54] weaversam8 commented on #16
@brettkromkamp - this is fantastic! Bookmarking this repo for later!

[2020-06-09 22:03] navigator8 opened #75 "User Defined Properties to Topic"
In future will it be possible to add additional properties to topics for example:

Music Album
- Duration
- Number Songs
- Rating
- Band
- Format

etc?

[2020-06-09 22:14] brettkromkamp commented on #75
Contextualise’s underlying topic maps engine, TopicDB supports “attributes” (I.e., meta-data) on topics, occurrences and associations. Attributes are basically key/values pairs. Contextualise already uses attributes to store things like creation date and modification date of topics, etc. Managing attributes is supported in Contextualise but only available to “admin” users. Basically, all that need

[2020-06-09 22:29] navigator8 commented on #75
Thanks @brettkromkamp . That was quick.

[2020-06-09 22:31] brettkromkamp commented on #75
@navigator8 Can’t sleep :|

[2020-06-09 22:33] navigator8 commented on #75
Good for me. I am on the otherside of the hemisphere. New Zealand. I can get to talk to you live. Rather than delayed :).

[2020-06-11 05:23] navigator8 opened #76 "Default Topics that come each new map"
Kindly share in a blog  etc the topics / roles / associations that are in the database of a map by default.

[2020-06-11 17:31] brettkromkamp commented on #76
@navigator8 The list of default topics is here: https://github.com/brettkromkamp/topic-db/blob/master/topicdb/core/store/topicstore.py#L52

[2020-06-11 22:11] navigator8 commented on #76
Many thanks! That will help me create my maps and take advantage of defaults.

[2020-06-12 05:05] brettkromkamp commented on #76
@navigator8 I’m working on an “import” feature that will allow for topic creation and setting up the  relevant associations between the topics. The input file would look something like this:

[code]

So, all of the necessary associations would be created to not only create the structure itself but also set up all of the knowledge/navigational paths, as well (as described, here: https://brettkromka

[2020-06-12 05:09] brettkromkamp commented on #76
The format shown above will be extended with the ability to optionally provide the topic name, type and tags.

[2020-06-12 05:18] brettkromkamp commented on #76
@navigator8 I’m open for suggestions with regards to additional default topics.

[2020-06-12 05:42] navigator8 commented on #76
Let me have a good review and I will propose  some if at all!

[2020-06-12 06:45] navigator8 commented on #76
@

This could be my biased view of how I work with Topic Maps (Social network analysis etc). Most them involve these entities:

Personal Information Management Objects
             * Agent
             ** Organisation
             ** Person
             ** Animal (e.g.could be pet - I know you grew up with dogs :))
             ** Group (i.e. Group of Organisations (Educations/ Medical) / Group of

[2020-06-16 18:29] feoh opened #77 "docker-compose up fails with: ERROR: Could not build wheels for pendulum which use PEP 517 and cannot be installed directly"
Hi there when I try to deploy contextualize on Ubuntu server 20.04 on my raspberry pi 4 I get:

[code]

I see a proposed work-around [here](https://github.com/sdispater/pendulum/issues/454) but I haven't yet managed to rejigger the FROM clause in the Dockerfile to make the fix work yet so I thought I'd also mention it here :)

[2020-06-16 21:05] feoh commented on #77
I got it to work with this Dockerfile. I can generate a pull request if anyone likes. I won't do it un-asked since it's a bit of a departure from what's already there.

[code]

[2020-06-17 07:29] brettkromkamp commented on #16
@weaversam8 Hope Contextualise proves useful to you :)

[2020-06-20 07:42] brettkromkamp commented on #77
@feoh Thanks for reporting the issue and providing a potential fix! My knowledge of Docker is limited hence I am unsure how to proceed with your suggested fix. Ideally, those that have contributed Docker support to Contextualise weigh in :) @machawk1 @epilys @stratosgear @Nekroze

[2020-06-20 07:45] brettkromkamp opened #78 "Update email templates with better instructions"
For example, in the sign-up email it should be mentioned that having a good understanding of topic maps is required to get the most out of Contextualise. Links to relevant (introductory) topic map resources should be provided in the email.

Relevant link: https://flask-security-too.readthedocs.io/en/stable/customizing.html#emails

[2020-06-20 07:48] brettkromkamp opened #79 "Add feedback form"
Questions:

1. How would you feel if you could no longer use Contextualise?
    * Very disappointed
    * Somewhat disappointed
    * Not disappointed
2. What type of people do you think would most benefit from Contextualise?
3. What is the main benefit you receive from Contextualise?
4. How can I improve Contextualise for you?

[2020-06-20 09:56] navigator8 commented on #79
See answers in line.

________________________________
From: Brett Alistair Kromkamp <notifications@github.com>
Sent: Saturday, 20 June 2020 5:48 PM
To: brettkromkamp/contextualise <contextualise@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [brettkromkamp/contextualise] Add feedback form (#79)

Questions:

  1.  How would you feel if you could no longer use Contextua

[2020-06-20 12:57] machawk1 commented on #77
@ibnesayeed has some Docker expertise, so it would be helpful for him to have a quick look at the Dockerfile for wellformedness and adherence to contemporary good practice.

[2020-06-20 13:28] ibnesayeed commented on #77
I don't see any issues in changing the base image to `alpine` as it may reduce the image size as well, but test building the image and the runtime properly before going for that change.

Alternatively, use build args to customize the base image and leave the default value as it is for now. Those who want to change the base image to `alpine` can create a custom image that has the additional `apk up

[2020-06-21 16:41] brettkromkamp commented on #16
Ongoing support for associative tagging: https://github.com/brettkromkamp/contextualise/commit/5c5994f9db1cf5711aca3ab30b0685fd16f53e13

![contextualise-tagged-topic](https://user-images.githubusercontent.com/160078/85230177-bf391900-b3ee-11ea-93a5-0081d900d23d.png)
![contextualise-tag-topic](https://user-images.githubusercontent.com/160078/85230179-c06a4600-b3ee-11ea-84a8-529db33f1e84.png)
![cont

[2020-06-21 16:52] brettkromkamp opened #80 "Quick association creation UX"
Add the ability to quickly create an association. Perhaps this will end up being a modal dialog with one field to provide the "destination" topic. This would imply that the associations panel is dynamically populated (with an accompanying backend endpoint). Might be time to adopt [Vue.js](https://vuejs.org/) and build an associations component.

@navigator8 This issue is of interest to you.

[2020-06-21 16:55] brettkromkamp opened #81 "Add ability to filter network graph by association types"
Ability to filter the network graph by association types; primarily to avoid overly large/complex network visualisations.

@navigator8 This issue is of interest to you.

[2020-06-21 16:57] brettkromkamp commented on #79
Added link to survey to top menu on the landing page (might need to make it more prominent).

[2020-06-21 20:45] navigator8 commented on #80
Definitely, I am keen on this. It will allow frictionless linking and knowledge discovery!

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Brett Alistair Kromkamp <notifications@github.com>
Sent: Monday, June 22, 2020 4:53:08 AM
To: brettkromkamp/contextualise <contextualise@noreply.github.com>
Cc: Farayi Chambati <flchambati@hotmail.com>; Mention <mention@norepl

[2020-06-21 20:48] navigator8 commented on #81
This is largely from social networks - the graph becomes huge to the point that you do not see patterns or meaningful links.  Filtering maybe an answer to this.

Consider filtering by Topic Type too.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Brett Alistair Kromkamp <notifications@github.com>
Sent: Monday, June 22, 2020 4:55:23 AM
To: brettkromkamp/contextua

[2020-06-26 02:49] jonringer commented on #77
try doing `pip install setuptools` then the rest of your commands. There's likely to be a wheel available for setuptools, and you should be able to install without a problem.

Honestly it's weird that `pip` is available, but the de-facto packaging module `setuptools` is not available.

[2020-06-29 16:44] brettkromkamp opened #82 "Migrate to Bootstrap 5"
Migrate to Bootstrap version 5 when it reaches version 5 proper (currently, in alpha): https://v5.getbootstrap.com/

[2020-06-29 19:39] feoh commented on #77
I don't understand enough about the alternative solutions people are suggesting to implement them, and I have something that works and left a crumb trail for anyone who just needs a quick fix to get this running on a pi, so I'll yield to your greater expertise and close this :)

[2020-06-29 19:39] #77 closed

[2020-06-29 21:43] brettkromkamp commented on #77
@feoh Thank you. I really do appreciate your contribution to Contextualise.

[2020-07-04 09:09] brettkromkamp opened #83 "Combine all information resources into one tab with filtering by (occurrence) type"
Currently, images, 3D scenes (glTF files), files, links and videos all have their own separate (top-level) tab. The plan is to combine all of the topic occurrences into one top-level tab with filtering by occurrence type (`instance of`). The resulting top level  would be: 1) topic, 2) resources, 3) associations and 4) visualisations.

[2020-07-06 17:40] brettkromkamp commented on #83
**Done. Won't close yet (hoping to get some feedback)**.

![contextualise-top-level-menu](https://user-images.githubusercontent.com/160078/86622429-298db400-bfc0-11ea-9645-82d76d295b5b.png)

![contextualise-top-level-menu-collapsed-resources](https://user-images.githubusercontent.com/160078/86622442-2d213b00-bfc0-11ea-8936-59925e8a9f8f.png)

@navigator8 Heads up... some (UX) changes to the top-lev

[2020-07-07 16:39] brettkromkamp commented on #83
Done!

[2020-07-07 16:39] #83 closed

[2020-07-07 16:41] brettkromkamp commented on #80
@navigator8 Have started working on this issue. Might take a bit of time, I need to learn https://svelte.dev/ to implement the dynamic associations component. Will be fun :)

[2020-07-07 21:05] navigator8 commented on #80
This is music 🎵 to my ears!

I cannot wait to test drive it!

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Brett Alistair Kromkamp <notifications@github.com>
Sent: Wednesday, July 8, 2020 4:41:22 AM
To: brettkromkamp/contextualise <contextualise@noreply.github.com>
Cc: Farayi Chambati <flchambati@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [

[2020-07-07 21:11] navigator8 commented on #83
@brettkromkamp I realise this topic is closed. Whilst I was asleep! Time zone magic. One comment - I love the simplification. How do you view notes relative to topics? The reason I ask if we add multiple notes on Topic - I tend to view them as occurrences- hence Resources.

[2020-07-07 21:34] brettkromkamp commented on #83
@navigator8 Yes, I closed the issue somewhat prematurely. Sorry for that. I appreciate your opinion on these things.

Glad you like the simplification. This is more scaleable as more occurrence types are added. And, I think it makes sense to group the occurrences together.

With regards to notes... they are occurrences as you mentioned. It's just that there is a bespoke UI for them (below the topi

[2020-07-08 08:28] brettkromkamp opened #84 "Repository for models"
I have always argued that topic maps are basically a meta modelling tool; that is, a tool to model other models. In that respect, the work I am doing to bootstrap predefined topic map structures (here: https://github.com/brettkromkamp/topic-db/blob/master/scripts/bootstrap.py) will eventually result in users being able to define and generate consistent topic map structures.

Currently, the format

[2020-07-09 15:35] brettkromkamp commented on #80
This feature consists of several parts:

1. API endpoint to retrieve the association groupings (effectively replacing what is currently done by means of a Jinja2 template)'
2. Modal dialog with the association (creation) form
3. API (POST) endpoint to create an association (called by submitting the form from step 2)
4. The ability to edit associations - the associations created with the "quick ass

[2020-07-13 06:54] brettkromkamp commented on #80
@navigator8 Implementation is in place. But, this feature is made up of several parts so I'll do some testing during the day. If all good, then I will deploy either later this evening or early tomorrow morning.

[2020-07-13 08:16] navigator8 commented on #80
Wow! busy weekend hey! looking forward to have a play when ready. Thanks.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Brett Alistair Kromkamp <notifications@github.com>
Sent: Monday, July 13, 2020 6:54:56 PM
To: brettkromkamp/contextualise <contextualise@noreply.github.com>
Cc: Farayi Chambati <flchambati@hotmail.com>; Mention <mention@noreply.github.com>
Sub

[2020-07-14 04:55] brettkromkamp opened #85 "Switch to a full width container, spanning the entire width of the viewport"
Self-explanatory.

[2020-07-14 05:56] brettkromkamp commented on #80
Adding a generic association is done by clicking on the `Association `menu followed by choosing the` Create generic association` menu option. Once a topic is referenced in an association (that is, it has related topics), you can also click on the `Create association` link above the related topics panel (outlined in red in the screenshot below).

![contextualise-quick-association1b](https://user-im

[2020-07-14 08:40] brettkromkamp commented on #80
@navigator8 Deployed. But, this has been a bit of a tricky feature to implement, specifically with regards to the new (Vue.js) dynamic associations component and scope filtering. So, let me know if you come across any weird behaviour :)

[2020-07-14 08:43] navigator8 commented on #80
@brettkromkamp Judging from the screenshot - it's going to be tons easier to create a network of ideas. I will certainly give it play tomorrow morning and feedback.

[2020-07-14 09:05] brettkromkamp commented on #80
Might even add a shortcut command to open the dialog.

[2020-07-14 09:08] brettkromkamp commented on #80
@navigator8 Talking about feedback :) In general what is your opinion of Contextualise? Especially taking into account all of the other applications in this space... What is good about Contextualise? What is bad? What could be improved? No rush, though :)

[2020-07-14 09:13] zhlbb commented on #80
I like this software very much, do not know when will release official v1.0 version? It is recommended to write a detailed installation and user manual, thank you!

[2020-07-14 20:25] brettkromkamp opened #86 "Write documentation (user guide)"
Relevant URL: https://docs.readthedocs.io/en/stable/index.html

[2020-07-14 20:45] brettkromkamp commented on #11
See URL: https://visjs.github.io/vis-timeline/docs/timeline/

[2020-07-15 09:47] brettkromkamp commented on #80
@zhlbb Thanks for your feedback. With regards to your suggestion about a user guide (documentation), I have added an issue for it: https://github.com/brettkromkamp/contextualise/issues/86.

The "official" release of version 1.0 is planned for August 25 (but, will probably be later) and can be tracked, here: https://github.com/brettkromkamp/contextualise/milestone/1.

Anyway, if you have any furthe

[2020-07-15 10:46] navigator8 commented on #86
@brettkromkamp I am available for user documentation. I may not be able to create install / technical bits. I am happy to create a user guide / tutorial. Kindly advise your preferred format or we could create a map.

[2020-07-15 15:34] brettkromkamp commented on #86
@navigator8 Thank you! Much appreciated. My initial thinking is to use a tool like [Sphinx](https://www.sphinx-doc.org/en/master/index.html) or [MkDocs](https://www.mkdocs.org/) with a [Read the Docs theme](https://www.mkdocs.org/#theming-our-documentation). The nice thing with, for example, MkDocs is that the documentation is written in Markdown and that the static site it generates can effective

[2020-07-15 15:54] brettkromkamp commented on #86
Looking into the [Read the Docs](https://readthedocs.org/) service (hosting, etc).

[2020-07-15 17:30] brettkromkamp opened #87 "Replace "context" with "scope" term"
I have used "context" instead of the topic maps-specific term "[scope](https://ontopia.net/topicmaps/materials/tao.html#stp-scope)". This is purely a UI issue; even in the backend I am using the term "scope".

[2020-07-15 17:33] brettkromkamp commented on #86
The very beginnings of Contextualise's documentation :)

![contextualise-documentation](https://user-images.githubusercontent.com/160078/87576724-15d60200-c6d2-11ea-9ed8-26e01e3bd070.png)

[2020-07-15 18:18] brettkromkamp commented on #87
Done!

[2020-07-15 18:18] #87 closed

[2020-07-16 06:14] brettkromkamp commented on #86
@navigator8 Contextualise's documentation will be done with Sphinx, a very popular documentation system for open source applications. To contribute with regards to the documentation you would have to clone the repo and provide the documentation files (in RestructuredText format). Check out Sphinx's documentation, here: https://docs.readthedocs.io/en/stable/intro/getting-started-with-sphinx.html. T

[2020-07-17 05:58] brettkromkamp commented on #80
Done.

[2020-07-17 05:58] #80 closed

[2020-07-18 08:55] brettkromkamp commented on #86
@navigator8 I have moved Contextualise's documentation into its own repository, here: https://github.com/brettkromkamp/contextualise-docs

[2020-07-18 17:25] brettkromkamp commented on #86
Check out the documentation, here: https://contextualise.readthedocs.io/en/latest/about/introduction.html

Obviously, it is unfinished. But, everything is in place, including the tools, GitHub repo and hosting (by ReadTheDocs).

[2020-07-20 09:13] brettkromkamp opened #88 "Knowledge path creation UX"
Contextualise supports the notion of "[knowledge paths](https://brettkromkamp.com/posts/knowledge-paths/)". However, currently knowledge paths are created manually be adding associations of type "navigation" with appropriate roles (i.e., "next", "previous", "up" and "down" for the topics.

This feature would make it easier to create knowledge paths with a modal dialog in which the user can provide

[2020-07-20 16:52] brettkromkamp opened #89 "Add tags cloud view"
Self-explanatory.

[2020-07-21 16:33] brettkromkamp commented on #89
Simple tag cloud implemented (and deployed).

[2020-07-21 16:33] #89 closed

[2020-07-22 05:38] brettkromkamp opened #90 "Test collaboration feature"
The collaboration feature on maps needs to be properly tested. Ideally, this testing is done by two separate users (the map owner and the person with whom is being collaborated with).

The collaboration feature allows topic map collaboration in three distinct modes (all of which need to be separately tested):

- Can view (read-access only)
- Can comment (add notes to existing topics)
- Can edit (r

[2020-07-22 05:41] navigator8 commented on #90
@brettkromkamp  been waiting for this feature! I have sent my email via Twitter DM.

Best regards,

[2020-07-22 05:48] brettkromkamp commented on #90
@navigator8 Thanks! I will add you as a collaborator to a map. You should see the map you've been added to (as a collaborator) in the "Maps I am collaborating on" tab in the "My map" view. I'll send you a (follow-up) message when ready. We'll test in the order outlined above (i.e., can view, can edit, can comment). I'll provide somewhat more in-depth "instructions" for each phase of testing. By th

[2020-07-22 06:08] brettkromkamp commented on #90
@navigator8 I have already come across one (logical) bug. The new associations component allows you to create a quick/generic association in can-view (read-only) collaboration mode. I will fix that before we start testing.

[2020-07-22 08:39] brettkromkamp opened #91 "Associations component incorrectly provides link to create a (generic) association when in read-only collaboration mode"
The (Vue.js) associations component allows the user to create a quick/generic association in can-view (read-only) collaboration mode.

[2020-07-22 09:03] brettkromkamp commented on #91
Fixed and deployed: https://github.com/brettkromkamp/contextualise/commit/ff1788799d679a96c6f73abeed2391318f7d24b2

[2020-07-22 09:03] #91 closed

[2020-07-22 23:11] navigator8 commented on #90
Hi Brett!
Woke to a new map in [My Maps I am collaborating on] !

[2020-07-23 04:48] brettkromkamp commented on #90
Morning Farayi. Yep, I've added you as a collaborator to a map. You should have seen something similar to this:
![contextualise-collaboration1](https://user-images.githubusercontent.com/160078/88252890-224cf280-ccb0-11ea-9d3b-664a332a79d4.png)

The collaboration mode is "Can view" (read-only) so you should be seeing something similar to this (inside of the map):
![contextualise-collaboration2](htt

[2020-07-23 04:50] navigator8 commented on #90
Hi Brett! too late with these instructions :). I have already jumped in and tried to to create topics/ associations. Not possible in view mode.

[2020-07-23 04:54] brettkromkamp commented on #90
Ok, yes... it's just to confirm that you cannot do anything you would expect not to be able to do in a read-only mode. Then the next test would be to change the collaboration mode to "Can comment". This is almost the same as the "Can view" (read-only) mode but you can also add notes (i.e., comments) to existing topics. Nothing more, though.

So, let me know if when you have finished testing the "C

[2020-07-23 06:22] navigator8 commented on #90
Great stuff! I had a good play in the morning! I am about 10hours ahead of Norway 🇳🇴:). Upgrade my privileges to “ Can comment”.

Thanks.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Brett Alistair Kromkamp <notifications@github.com>
Sent: Thursday, July 23, 2020 4:54:51 PM
To: brettkromkamp/contextualise <contextualise@noreply.github.com>
Cc: Farayi Chambati

[2020-07-23 06:25] brettkromkamp commented on #90
Will do!

[2020-07-23 08:33] brettkromkamp opened #92 "Visual associations editor/UX"
Many users are asking for a more visual way to create associations (asserting a relationship between two or more topics).

![visual-programming](https://user-images.githubusercontent.com/160078/88266591-c003ea00-cccf-11ea-828c-3593c54a9f0d.png)

I'll start by researching potential libraries to help implement this feature, starting with [Rete.js](https://rete.js.org/#/).

@navigator8 This might be

[2020-07-23 08:44] navigator8 commented on #92
Hi Brett,
I have it on my list of missing features. I will add my shopping list here tomorrow.  Apps that do this well are Kumu and Stemic :)

[2020-07-23 08:48] brettkromkamp commented on #92
Hi Farayi. Kumu and Stemic? I'll take a look at them as part of my research, then :)

[2020-07-23 14:13] brettkromkamp opened #93 "Fix crash when 404-ing with non-logged in user"

[2020-07-23 16:31] brettkromkamp commented on #93
Fixed and deployed.

[2020-07-23 16:31] #93 closed

[2020-07-24 07:09] brettkromkamp opened #94 "Suggesting topic tags using topic modeling (machine learning)"
Full description to be provided.

Relevant URLs:

- [Topic analysis](https://monkeylearn.com/topic-analysis/)

[2020-07-24 14:34] brettkromkamp opened #95 "Topic text summarization (using machine learning)"
Description to be provided.

[2020-07-26 23:12] navigator8 commented on #90
Hi Brett, I have added a few notes using different tests. One suggestions - are you able to add a label [user id etc]  to show who has added the comment/note.  This will well to see who has contributed what. You could even go a step further to show a by different colours, i.e. note border by owner/admin (one colour) and another colour for contributors.

[2020-07-27 06:03] brettkromkamp commented on #90
Good suggestion, Farayi. I'll take a look at implementing it. With regards to linking to other topics in in both normal topic text and notes... it's obviously possible. The syntax is the usual Markdown link syntax: `[the link's text](the-topic-identifier)`. You don't have to specify the full URL, just the topic identifier for the topic you are linking to (Contextualise will infer the rest of the U

[2020-07-27 07:22] navigator8 commented on #94
Hi Brett, I am not sure if this relevant or note.  Two products I use  have the following features:
- Mindlib.de - when I create a note / topic/ node - it will try and search for the topic on Google Knowledge Graph / Wikidata and it will return matches and you can select to quickly create the topic.
- Hypernote.io - performs as above but goes a step further - it will return possible nodes /topics

[2020-07-28 04:57] brettkromkamp commented on #90
@navigator8 Hi Farayi. In the meantime, do we move on to testing the third mode: "Can edit"?

[2020-07-28 06:59] navigator8 commented on #90
Hi Brett!

Yes, please this is the fun bit. Wait and see what network I will create :)!

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Brett Alistair Kromkamp <notifications@github.com>
Sent: Tuesday, July 28, 2020 4:57:28 PM
To: brettkromkamp/contextualise <contextualise@noreply.github.com>
Cc: Farayi Chambati <flchambati@hotmail.com>; Mention <mention@noreply.

[2020-07-28 07:31] brettkromkamp commented on #90
Ok, you now have read-write access to the map. You should, be able to do everything: create, update and delete topics, occurrences and associations. Let me know how it goes :)

[2020-07-29 05:59] brettkromkamp opened #96 "Auto-complete on topic identifiers in Markdown editor (text area)"
To be provided.

[2020-07-31 18:51] brettkromkamp commented on #90
@navigator8 Hi Farayi. I'm assuming you have finished testing the "Can edit" collaboration mode, or? If yes, thanks a lot! There is just one final thing to test with regards to collaboration: removing you as a collaborator on the topic map and you confirming that you do not have access to the map anymore.

[2020-07-31 21:06] navigator8 commented on #90
Hello Brett!

Yes, I did some testing. Happy for you to remove me as a collaborator.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Brett Alistair Kromkamp <notifications@github.com>
Sent: Saturday, August 1, 2020 6:51:47 AM
To: brettkromkamp/contextualise <contextualise@noreply.github.com>
Cc: Farayi Chambati <flchambati@hotmail.com>; Mention <mention@noreply.g

[2020-08-01 04:17] brettkromkamp commented on #90
@navigator8 I have removed you as a collaborator. You shouldn't have access to the map anymore. Please confirm either way.

[2020-08-01 05:33] navigator8 commented on #90
Hi Brett

Ooops!  Map has disappeared  under [Maps I am collaborating on]]. Confirmed.

[2020-08-01 06:09] brettkromkamp commented on #90
Excellent! Then I think we can conclude on the testing of the collaboration feature. Thanks for all of your help, Farayi! Really appreciate it!

[2020-08-01 08:51] brettkromkamp commented on #16
@navigator8 This feature is now complete. This is associative tagging meaning that the tag becomes a topic with an association to connect the topic that is being tagged and the resulting "tag topic". If you have time, play around with it a bit and let me know what you think.

[2020-08-01 08:51] #16 closed

[2020-08-11 12:31] #90 closed

[2020-08-15 21:39] brettkromkamp opened #97 "Replace custom (3D) model viewer with google/model-viewer"
See URL: https://github.com/google/model-viewer

[2020-08-16 13:31] brettkromkamp commented on #97
Done. At some point I will tweak the lighting of the model viewer by adding a equirectangular HDR skybox-image.

[2020-08-16 13:31] #97 closed

[2020-08-21 13:07] brettkromkamp opened #98 "Popover displaying summary of back-link topic on hover in the associations component"
Description to be provided.

Relevant documentation: https://getbootstrap.com/docs/4.5/components/popovers/

[2020-09-21 10:19] brettkromkamp opened #99 "Remove un-resolvable topics from breadcrumbs"
To be described.

[2020-09-21 10:23] brettkromkamp commented on #99
See code: https://github.com/brettkromkamp/contextualise/blob/master/contextualise/topic.py#L212

[2020-09-21 10:56] brettkromkamp opened #100 "Handle the deletion of topic which is also an association"
An association is also a topic. Nonetheless, an association is also more than a topic. From a technical point-of-view, an association has a more complex data structure and although you could delete an association just like you do a topic, in doing so, remnants of the (more complex) association data structure would be left dangling. Logic has to be added in both the backend (TopicDB) and the fronte

[2020-09-22 18:12] brettkromkamp commented on #100
Done: https://github.com/brettkromkamp/topic-db/commit/cb0e2f26fd42fa152c0e349f9fe60db54b4568b0.

[2020-09-22 18:12] #100 closed

[2020-10-01 12:51] brettkromkamp opened #101 "When creating a new topic, the topic title's scope should be set to the current active scope"
Self-explanatory.

[2020-10-01 12:52] #76 closed

[2020-10-02 07:44] ansh-lehri commented on #94
Hey Brett, I am not able to understand what issue have you raised in this repository. Please explain it a bit as I am interested in contributing to this.

[2020-10-02 17:24] brettkromkamp commented on #94
Hi @ansh-lehri  :)

In summary, I would like to analyse the text of a topic (technically, an occurrence of type "text") using a topic modelling algorithm to determine (statistical) relevant keywords and subsequently generate tag associations (associations between the topic in question and the accompanying tag topics).

To understand associative tagging Contextualise it might make sense to take a q

[2020-10-04 15:25] brettkromkamp commented on #101
Done.

[2020-10-04 15:25] #101 closed

[2020-10-09 14:40] ansh-lehri commented on #94
Hey @brettkromkamp, sorry for delayed reply but I read the links you provided and I am interested in solving this issue to the best of my ability. Please assign me this issue.

[2020-10-09 18:31] brettkromkamp commented on #94
@ansh-lehri Alright, I'll assign you the issue. I'm excited to have you work on this.

[2020-10-12 06:44] brettkromkamp commented on #38
With the adoption of <model-viewer> this has now become a non-issue.

[2020-10-12 06:44] #38 closed

[2020-10-25 06:24] brettkromkamp opened #102 "Set autofocus on forms"
Self-explanatory.

[2020-10-29 10:48] imthevs opened #103 "Modules in Contextualise"
Contextualise can have 'modules'.  Features that could be considered 'optional' or 'standalone' could be moved to these modules.  Users could optionally download and enable/disable these modules.

For example, the 3D images viewing feature may not be used by a lot of users (speculating here).  So this feature could be moved to an optional '3D Module'.

An alternate term you could consider for a 'm

[2020-10-29 19:23] brettkromkamp commented on #103
@imthevs Hi :) I would love to have a (user-facing) plug-in system for Contextualise. I’m away from my computer at the moment, but I will follow up on this matter with you this weekend. Do you have anything specific in mind?

[2020-11-16 09:53] brettkromkamp opened #104 "Add popover info box to "Map and scope" map label with map-related info (including the map's title, description and image)"
See URL: https://getbootstrap.com/docs/4.5/components/popovers/

[2020-11-16 09:55] brettkromkamp commented on #103
@imthevs I am reviewing several (user-facing) plug-in approaches for Flask applications and I hope to land on something soon. In the mean-time, if you have any suggestions I'm all ears :)

[2020-11-19 21:59] brettkromkamp commented on #104
Done.

[2020-11-19 21:59] #104 closed

[2020-11-22 10:55] brettkromkamp opened #105 "Fix topic breadcrumbs persisting across topic maps"
The breadcrumbs should be cleared across topic maps.

[2020-11-22 10:59] brettkromkamp commented on #105
Done: https://github.com/brettkromkamp/contextualise/commit/4318533ccba3ea6de9a351bb0c984f9b5d5c251b

[2020-11-22 10:59] #105 closed

[2020-11-23 13:54] redcitylights opened #106 "Automatically Fix Associations on Rename"
Currently when a topic is renamed it breaks associations involving that topic.  This could be fixed automatically

[2020-11-23 14:36] brettkromkamp commented on #106
@redcitylights Hi. Could you explain the issue? The reason I ask is that topic names (plural: a topic can have one or more names) are independent from the topic identifier. Renaming a topic changes the name but never the identifier: topic identifiers cannot be changed. Topic identifiers are used as part of an association not the topic name. So, renaming a topic will not break associations of which

[2020-12-02 08:16] #106 closed

[2020-12-05 23:05] almereyda commented on #88
There is a similar software environment that builds on learning paths and visualises them in a malleable graph.

Feel invited to explore https://metacademy.org/ and learn from its approaches.

https://github.com/metacademy/metacademy-application

[2020-12-06 05:48] brettkromkamp commented on #88
@almereyda Thanks for the tip. I'll definitely take a look.

[2020-12-12 10:24] brettkromkamp opened #107 "Upgrade Contextualise to Twitter Bootstrap 5"
Currently, Contextualise uses Bootstrap 4 as its frontend framework. This issue would take Contextualise to the next version of Bootstrap: https://getbootstrap.com/docs/5.0/getting-started/introduction/

I expect some issue in relation to, for example, the [typeahead.js](https://github.com/corejavascript/typeahead.js) auto-complete library that Contextualise uses.

[2021-01-11 15:17] imthevs commented on #103
I don't have anything to add here, I'm afraid.  But I'd be very happy to help with user testing.

[2021-01-11 15:17] #103 closed

[2021-06-08 17:53] mmsrubar opened #108 "ValueError: User model must contain fs_uniquifier as of 4.0.0"
Hi, I'm trying to get working a developement version in a docker container using base image https://hub.docker.com/_/postgres. I managed to get to flask run but it end it up with the following error

[code]
[code]

Any suggestions how to resolve the issue?

[2021-06-09 09:42] brettkromkamp commented on #108
I have a seperate branch (`updates-210213`: https://github.com/brettkromkamp/contextualise/tree/updates-210213) with a fix for this issue.

[2021-06-09 10:07] brettkromkamp opened #109 "Upgrade Contextualise to Flask 2.0"
Self-explanatory.

Context: https://palletsprojects.com/blog/flask-2-0-released/

[2021-06-09 10:07] brettkromkamp commented on #108
Upgrade to Flask 2.0 issue: https://github.com/brettkromkamp/contextualise/issues/109

[2021-06-09 10:13] mmsrubar commented on #108
Thank you! Now I'm able to build the container. Going to get it running and test the app.

[2021-06-09 10:35] brettkromkamp commented on #108
Great! Would appreciate if you let me know how it goes :)

[2021-06-11 17:36] brettkromkamp commented on #108
@mmsrubar Forgot to mention: you will have to manually uninstall Mistune version 0.84 and install version 2.0.0rc (`pip install mistune==2.0.0rc1`)

[2021-06-12 07:38] brettkromkamp opened #110 "Add syntax highlighting to Markdown rendering"
See URL: https://mistune.readthedocs.io/en/latest/guide.html#customize-renderer

[2021-06-12 12:33] brettkromkamp commented on #110
Implemented, but not deployed yet!

![contextualise-syntax-highlighting](https://user-images.githubusercontent.com/160078/121776026-0fbefe80-cb8b-11eb-964b-36ca770d379c.png)

[2021-06-24 12:21] brettkromkamp opened #111 "Add notes count indicator ("Notes" link in the top navigation bar)"
Link: https://getbootstrap.com/docs/4.6/components/badge/

[2021-07-06 12:10] brettkromkamp opened #112 "Change identifier of an existing topic"
Currently, topic identifiers -once created- are constant and cannot be changed. Nonetheless, from an ontology-management point of view, being able to change a topic's identifier is sometimes necessary.

Changing a topic identifier will first require checking that the new identifier does not exist.

Changing a topic identifier is potentially a risky operation taking into account the central role th

[2021-07-06 12:13] brettkromkamp commented on #112
This change will impact both Contextualise (obviously) but also [TopicDB](https://github.com/brettkromkamp/topic-db) as the topic store will have to provide the underlying mechanism to actually change the identifier of an existing topic.

[2021-07-09 08:31] brettkromkamp opened #113 "Review the potential integration of the Monaco editor (replacing the current Markdown editor)"
See URL: https://microsoft.github.io/monaco-editor/

[2021-07-13 07:06] #113 closed

[2021-07-13 07:07] brettkromkamp commented on #109
Implemented, but not deployed yet!

[2021-08-28 19:36] navigator8 commented on #58
@brettkromkamp Just finished building a topic map modelling a complex business model. I would like to clone my topic map for instances of such organisations.
One solution I thought about these instances was to use scope concept. i.e. I can use same map and house multiple companies. I shelved this ideas as I was not confident about use of scope.(maybe one day you can do a blog on this topic) The ot

[2021-08-28 19:39] navigator8 opened #114 "[Feature Request] Sharing of Maps"
I would like to share some of my topic maps - in a published state but with a secret url, i.e. to a selected audience. Login is not a requirement. They just need to have the url (which can be revoked :).

[2021-08-28 19:52] navigator8 opened #115 "[Feature Request] Print / Export Topics (and Association)"
Export Topics in MD or json  each topic with related occurrence and associations.

For some ideas: https://pengloo.com - check out this modelling tool.  They have a nice pdf report for models / worlds built.

[2021-10-12 11:06] brettkromkamp opened #116 "Add language support (with the Flask-Babel extension)"
See URL: https://python-babel.github.io/flask-babel/

Several users have requested for Contextualise to be translated to their language. In order to do so, proper language support needs to be added to Contextualise.

[2022-01-02 12:36] brettkromkamp opened #117 "Fix unable to load occurrence files after topic identifier change bug"
Self-explanatory.

[2022-01-02 12:37] brettkromkamp opened #118 "Add auto-completion (on topic identifiers) to text areas"
Tribute autocomplete library: https://github.com/zurb/tribute

[2022-02-10 09:36] #109 closed

[2022-02-10 09:37] #112 closed

[2022-02-10 09:37] #110 closed

[2022-02-15 18:15] #111 closed

[2022-02-15 18:22] #66 closed

[2022-02-15 19:58] kseistrup commented on #66
Amazing!!

[2022-03-30 18:20] brettkromkamp opened #119 "Fix "ImportError: cannot import name 'safe_str_cmp' from 'werkzeug.security'" after upgrading to Flask/Werkzeug 2.10"
Got an import error after upgrading to Flask/Werkzeug 2.10:
`
Traceback (most recent call last):
  File "/home/brettk/.pyenv/versions/3.10.3/envs/contextualise-dev-2/lib/python3.10/site-packages/flask/cli.py", line 234, in locate_app
    __import__(module_name)
  File "/home/brettk/Source/structured-knowledge/contextualise/contextualise/__init__.py", line 14, in <module>
    from flask_seasurf imp

[2022-04-02 05:33] brettkromkamp commented on #119
Initial testing confirms that this was fixed with: https://github.com/maxcountryman/flask-seasurf/pull/108. Once definitively confirmed that this has been fixed, this issue will be closed.

[2022-04-02 05:41] brettkromkamp commented on #102
Done!

[2022-04-02 05:41] #102 closed

[2022-04-02 05:42] brettkromkamp commented on #118
Duplicate of https://github.com/brettkromkamp/contextualise/issues/96.

[2022-04-02 05:42] #118 closed

[2022-04-02 05:43] brettkromkamp commented on #82
Duplicate of https://github.com/brettkromkamp/contextualise/issues/107.

[2022-04-02 05:43] #82 closed

[2022-04-02 05:45] brettkromkamp commented on #79
Done.

[2022-04-02 05:45] #79 closed

[2022-04-06 07:13] brettkromkamp commented on #119
Confirmed to be fixed with latest Flask-SeaSurf update.

[2022-04-06 07:13] #119 closed

[2022-04-26 10:59] brettkromkamp opened #120 "Fix in-place topic creation bug (unable to create topic)"
In-place topic creation (https://brettkromkamp.com/posts/in-place-topic-creation/) fails. See attached screenshot.

![contextualise-unable-to-create-topic-bug](https://user-images.githubusercontent.com/160078/165285442-1f4bbb27-897e-40ad-ba79-ed952c5d9a7f.png)

[2022-04-26 11:14] brettkromkamp opened #121 "Fix menu item bug (missing space)"
See attached screenshot: ![contextualise-fix-menu-item](https://user-images.githubusercontent.com/160078/165287987-e93b2ca6-4abc-4566-9f55-065814b5e3a9.png)

[2022-04-27 15:59] brettkromkamp commented on #121
Done (and deployed).

[2022-04-27 15:59] #121 closed

[2022-04-27 19:27] brettkromkamp commented on #120
This Axios.js PR fixed the problem: https://github.com/axios/axios/pull/4640

[2022-05-03 11:02] brettkromkamp opened #122 "Add top-level menu for maps and notes"
Maps

- View my maps
- Create new map

Notes
- View notes
- Add note

[2022-05-04 16:48] #122 closed

[2022-05-07 15:45] brettkromkamp commented on #52
Upgraded to v3.10.4

[2022-05-07 15:45] #52 closed

[2022-05-13 12:33] brettkromkamp opened #123 "Make network graph more useful - fix node colours"
Currently, the node colours in the network graph seem somewhat arbitrary. Ideally, the node colours convey meaning... perhaps a gradient to denote distance from the current selected topic/node.

![contextualise-network-graph](https://user-images.githubusercontent.com/160078/168283653-6d522f82-b297-4fc3-9b85-91abcb8d9e23.png)

[2022-05-25 12:04] brettkromkamp opened #124 "Run Lighthouse automated tool for improving the quality of Contextualise's pages"
Link: https://developers.google.com/web/tools/lighthouse

[2022-05-29 15:02] brettkromkamp opened #125 "Add a tree mode"
To be defined.

[2022-07-14 06:16] brettkromkamp opened #126 "Additional base topics"
Include additional (association-related) base topics:
* Causal
* Characteristic
* Classification
* Comparison
* Conditional
* Function
* Location
* Part-Whole
* Temporal

See article: https://brettkromkamp.com/posts/semantically-meaningful-relationships/

[2022-07-15 10:46] brettkromkamp opened #127 "Investigate error when trying to create a generic association"
At approximately 12:15 today (July 15) an error was displayed ("Unable to retrieve associations") when trying to create a generic association between the "home" topic and "python-course" topic (in the Python Ecosystem topic map).

Check logs.

[2022-07-19 10:57] brettkromkamp opened #128 "Investigate Editor.js for potential integration into Contextualise"
Investigate Editor.js for potential integration into Contextualise replacing the current (visual) Markdown editor.

See URL: https://editorjs.io/

[2022-07-20 07:00] brettkromkamp opened #129 "Add (prominent) home icon to topic title (and/or) breadcrumb"
Add (prominent) home icon to topic title (and/or) breadcrumb to indicate that the current topic is the "home" topic, i.e., the starting point in the topic map graph. Users sometimes rename the "home" topic so it is not always immediately apparent that they are "back at" the "home" topic.

[2022-07-20 07:03] brettkromkamp opened #130 "Placeholder image for topic maps"
Currently, when creating a new topic map, the user has to upload an accompanying image. Sometimes, having a bespoke image for a ("quick and dirty") topic map is unnecessary. So, if a user decides to not upload an image when creating a topic map, then a placeholder image should be used.

[2022-07-20 07:04] brettkromkamp commented on #127
Currently, unable to reproduce. Perhaps a network-related glitch?

[2022-07-20 07:06] brettkromkamp commented on #126
Done, and deployed. Accompanying PyPI-release is still pending. Will close this issue when that has been done.

[2022-07-22 08:24] brettkromkamp opened #131 "Change CDN for packages like MDE and Axios"
See URLs:
https://github.com/sparksuite/simplemde-markdown-editor/tree/development

MDE jsDeliver:
[code]

[2022-07-22 08:25] brettkromkamp commented on #131
Axios jsDeliver:
`<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>`

[2022-07-22 19:11] brettkromkamp commented on #131
Done, and deployed: https://github.com/brettkromkamp/contextualise/commit/0dd132ce8949fe5c59e91664ac7e563b55f3ead5

[2022-07-22 19:11] #131 closed

[2022-07-27 09:34] brettkromkamp opened #132 "Research the use of RDFa in Contextualise"
See URL: https://www.w3.org/TR/rdfa-primer/

[2022-07-27 09:36] brettkromkamp commented on #127
Unable to reproduce. Has not happened again.

[2022-07-27 09:36] #127 closed

[2022-07-27 11:43] brettkromkamp opened #133 "Test Contextualise with Python 3.11.0b5"
See URL: https://www.python.org/downloads/release/python-3110b5/

[2022-08-01 09:54] brettkromkamp opened #134 "Research G6 (graph) visualization library for possible use in Contextualise"
See URL https://g6.antv.vision/en/docs/manual/introduction

[2022-08-01 09:58] brettkromkamp commented on #133
Initial testing failed when installing a (transitive) dependency, specifically Flask-SQLAlchemy (https://flask-sqlalchemy.palletsprojects.com/en/2.x/). The root problem was caused by SQLAlchemy's Greenlet dependency (which failed to build).

[2022-08-01 10:02] brettkromkamp commented on #133
Relevant? https://github.com/python-greenlet/greenlet/issues/305

[2022-08-03 06:00] brettkromkamp opened #135 "Set up task to periodically vacuum the database"
See URL: https://www.sqlite.org/lang_vacuum.html

[2022-08-03 06:01] brettkromkamp opened #136 "Provide up-to-date screenshots of the application (primarily for the README)"
N/A

[2022-08-03 07:56] brettkromkamp opened #137 "Allow for the creation of a topic directly from the 404 page"
Currently, if the user tries to navigate to a page for an non-existent topic they are shown the generic 404 page. A logged-in user with the right permissions should be given the option to create the corresponding topic.

![contextualise dev_topics_view_15_fair](https://user-images.githubusercontent.com/160078/182554971-f6535693-d3d6-4b43-8a6e-5d85460a88be.png)

[2022-08-03 08:25] brettkromkamp opened #138 "Show actual URL when deleting a link occurrence"
Currently, when deleting a link only its title (attribute) is displayed. The actual URL itself should also be displayed so that the user can be absolutely certain that they are deleting the right link (occurrence).

[2022-08-03 16:51] brettkromkamp commented on #138
Done and deployed (v1.0.8).

[2022-08-03 16:51] #138 closed

[2022-08-03 17:21] brettkromkamp commented on #136
Done, but might take some time to fully propagate.

[2022-08-03 17:21] #136 closed

[2022-08-04 08:59] brettkromkamp opened #139 "Add empty state UI for notes when unauthenticated"
Empty state when authenticated:

![contextualise dev_notes_index_1](https://user-images.githubusercontent.com/160078/182807327-bbd30b06-6581-4bdb-bb37-74371d7feac6.png)

When not authenticated, the above graphic and relevant message should be displayed.

[2022-08-08 12:42] brettkromkamp opened #140 "Fix 500 on Knowledge Graphs/gremlin topic"
See URL: https://contextualise.dev/topics/view/15/gremlin

The error is caused by including a Gremlin query in a note attached to the topic: Pygments has no support for Gremlin syntax?

The fix would be to remove the offending note.

[2022-08-08 15:44] brettkromkamp commented on #140
[code]

[2022-08-08 16:24] brettkromkamp commented on #140
Fixed and deployed.

[2022-08-08 16:24] #140 closed

[2022-08-09 06:49] brettkromkamp opened #141 "Add keyboard shortcuts"
For example, when viewing a topic, pressing "e" to edit the topic's text occurrence.

See URLs:
* https://dmauro.github.io/Keypress/

[2022-08-12 16:59] brettkromkamp opened #142 "Research Ogma visualization library for possible use in Contextualise"
See URL: https://doc.linkurio.us/ogma/latest/

[2022-08-15 15:55] brettkromkamp commented on #142
Cannot be used in Contextualise because the Ogma visualization library is not available as an open source project?

[2022-08-16 07:14] navigator8 opened #143 "Cannot login or reset my password"
Cannot login or reset my password: my handle: flchambati at hotmail dot com

[2022-08-17 06:07] brettkromkamp commented on #143
At some point, a couple of months back, as part of a huge upgrade to Contextualise, all of the existing test data was dropped. However, we could restore your topic maps from a backup (with some work).

[2022-08-17 06:57] navigator8 commented on #143
Hi Brett,

Not to worry, I was prepared for loss of data. I was hoping it was just a password issue.

Let’s close the topic.

Thanks

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Brett Alistair Kromkamp ***@***.***>
Sent: Wednesday, August 17, 2022 6:07:56 PM
To: brettkromkamp/contextualise ***@***.***>
Cc: Farayi Chambati ***@***.***>; Author ***@***.***>
Subj

[2022-08-18 09:27] brettkromkamp opened #144 "Add a CONTRIBUTING.md file"
See URL: https://opensource.guide/starting-a-project/#writing-your-contributing-guidelines

[2022-08-18 09:33] brettkromkamp commented on #143
Would you consider self-hosting (i.e., installing Contextualise locally on your machine)? It really is pretty straightforward to install Contextualise. I can help if necessary :-)

[2022-10-07 09:22] brettkromkamp opened #145 "Fix Uncaught TypeError: axios.get is not a function when using the network visualization"
See URL: https://axios-http.com/docs/example

[2022-10-11 06:25] brettkromkamp commented on #145
See URL: https://github.com/axios/axios/issues/5038

[2022-10-11 06:29] brettkromkamp commented on #145
Either refactor to the Fetch API or pin to a specific version. My bad.

Fix will be out later today.

[2022-10-12 06:52] brettkromkamp opened #146 "Related maps feature"
Contextualise allows you to create as many (independent) topic maps as you want. Nevertheless, I have seen over time that I am using multiple informal mechanisms (e.g., a topic note, in the topic text) to link the current map to other related maps. This could imply that I either should be using just one "super" map or that Contextualise needs a formal way to manage related (top-level) topic maps.

[2022-11-03 08:11] brettkromkamp commented on #133
Testing completed. No 3.11.0-specific issues were encountered.

[2022-11-03 08:11] #133 closed

[2022-11-03 08:13] brettkromkamp opened #147 "Add semantic search feature"
Relevant URLs:

- https://www.pinecone.io/learn/vector-embeddings/
- https://neuml.github.io/txtai/

[2022-11-03 08:15] brettkromkamp commented on #142
Confirmed that Ogma is not an open source library, so cannot be used.

[2022-11-03 08:15] #142 closed

[2022-11-03 08:16] #143 closed

[2022-11-03 08:17] brettkromkamp commented on #130
Implemented and deployed.

[2022-11-03 08:17] #130 closed

[2022-11-03 08:18] #126 closed

[2022-11-03 08:18] brettkromkamp commented on #126
PyPI release done.

[2022-11-03 10:46] brettkromkamp opened #148 "Show number of (unattached) notes on the topic map card"
Show number of (unattached) notes on the topic map card in both the "My maps" and "Shared maps" view.